<%= render 'staticpage/header'%>
<section class="banner-main" style="background: rgba(0, 0, 0, 0) url('/assets/images/rooms.jpg') no-repeat scroll center top / cover;">
	<div class="gold-cost-right" >
		<img src="/assets/images/gold-cost-img.png" alt="">
	</div>
</section>

<div class="container">
	<div class="row">
		<div class="col-xs-12 pad_none accomodation0details-view-iiner">
			<div class="col-xs-12 pad_none pallazo-versace-out3">
				<div class="col-xs-12 col-sm-7 col-md-7 pad_none pallazo-versace-left-sec">
					<h3>
						<%= @hotel.name %>
					</h3>
					<p>
						<i class="fa fa-map-marker map-marker-new3" aria-hidden="true"></i>
						<%= @hotel.address %>
					</p>
				</div>
			</div>

			<div class="col-xs12 pad_none hotel-images-outer" >
				<img src="/assets/images/luxury-class-image2.png" class="luxury-class-img2" alt="">
    			<div id="jssor_1" style="position: relative; margin: 0 auto; top: 0px; left: 0px; width: 800px; height: 456px; overflow: hidden; visibility: hidden; background-color: #24262e;">
        			<div data-u="loading" style="position: absolute; top: 0px; left: 0px;">
	            		<div style="filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; top: 0px; left: 0px; width: 100%; height: 100%;"></div>
	            		<div style="position:absolute;display:block;background:url('/assets/img/loading.gif') no-repeat center center;top:0px;left:0px;width:100%;height:100%;"></div>
        			</div>
        			<div data-u="slides" style="cursor: default; position: relative; top: 0px; left: 0px; width: 800px; height: 456px; overflow: hidden;">

                  <% @hotel.hotel_images.each do |g| %>
                  <div data-p="144.50" style="display: none;">
                			<img class="auto_height" data-u="image" src="<%= g.pics %>"  alt="" />
            			</div>
                  <% end %>
        			</div>
        			<span data-u="arrowleft" class="jssora05l" style="top:200px;left:8px;width:40px;height:40px;">
						<i class="fa fa-angle-left fa-angle-left2 " aria-hidden="true"></i>
					</span>
        			<span data-u="arrowright" class="jssora05r" style="top:200px;right:8px;width:40px;height:40px;">
						<i class="fa fa-angle-right angle-right2" aria-hidden="true"></i>
					</span>
        			<a href="http://www.jssor.com" style="display:none">Jssor Slider</a>
    			</div>
				<div class="col-xs-12 pad_none more-photo-heading3">
				</div>
			</div>

			<div class="col-xs-12 pad_none defination-luxury-out2">
				<div class="col-xs-12 col-sm-12 col-md-12 pad_none defination-luxury-inner-left">
					<h6 style="text-align: center;"><%= @hotel.name %></h6>

					<!-- <p style="text-align: center;">Palazzo – the definition of luxury, glamour and sophistication.</p> -->
          <% if @hotel.video_link.present? %>
					<div style="text-align: center; margin: 30px 0px;">
						<iframe width="560" height="315" src="https://www.youtube.com/embed/nMtkgWA6MV0" frameborder="0" allowfullscreen></iframe>
					</div>
          <% end %>

          <p><%= @hotel.description %></p>
					<br />
				</div>
			</div>

            </div>
			<!-- <div id="accordion" role="tablist" aria-multiselectable="true">
					<div class="card">
						<div class="card-header" role="tab" id="headingOne">
							<h5 class="mb-0">
								<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
									Collapsible Group Item #1
								</a>
							</h5>
						</div>

						<div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
							<div class="card-block">
								Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
							</div>
						</div>
					</div>
				</div> -->


      <% @hotel.rooms.each do |hg| %>

      <div class="col-xs-12 col-sm-12 col-md-12 pad_none defination-luxury-inner-left" style="margin-bottom: 20px !important;">
				<h6 style="text-decoration: underline; font-weight: bold;"><%= hg.name %></h6>
			</div>
			<div class="col-xs-12 pad_none details-feature-out2 ">
				<h3>DETAILS</h3>
				<div class="col-xs-12 pad_none details-out-inner2">
					<div class="col-xs-12 col-sm-6 col-md-6 details-out-inner-left2">
						<p>
							<samp class="room-type-img03"> <img src="/assets/images/room-type-img2.png" alt=""></samp>
							<strong>Room Type: </strong> <%= hg.rooms_type %>
						</p>
						<p>
							<samp class="room-type-img03"><img src="/assets/images/room-type-detail2img.png" alt=""></samp>
							<strong>Room Size: </strong> <%= hg.size %>m<sup>2</sup>
						</p>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-6 details-out-inner-left2 details-out-inner-right2">
						<p>
							<samp class="room-type-img03"> <img src="/assets/images/room-type--nav-2img.png" alt=""></samp>
							<strong>Layout:  </strong>  <%= hg.layout %>
						</p>
						<p>
							<samp class="room-type-img03"><img src="/assets/images/room-type-img2-new.png" alt=""></samp>
							<strong>Breaksfast: </strong><% if hg.breakfast.present? %>Included<%else%><%end%>
						</p>
					</div>
				</div>
			</div>
			<div class="col-xs-12 pad_none details-feature-out2 margin-none2">
				<h3>Features</h3>
				<div class="col-xs-12 pad_none details-out-inner2">
					<div class="col-xs-12 pad_none features-inner-main2">
            <% hg.features.each do |d| %>
						<div class="feauture-first03 ">
							<div class="feauture-conditining0main">
								<div class="feauture-first-inner2">
									<img src="<%= d.pics %>" alt="">
									<p><%= d.name %></p>
								</div>
							</div>
						</div>
            <%end%>
					</div>
				</div>
			</div>
			<div class="col-xs-12 feture-note-out3" style="margin-bottom: 6%;">
				<p><strong><%= hg.description %></strong></p>
			</div>
      <%end%>

		</div>
    <br><hr>
	</div> <hr>
<!-- </div> -->

<script>
	jQuery(document).ready(function ($) {
		var jssor_1_SlideshowTransitions = [
			{$Duration:1200,x:0.3,$During:{$Left:[0.3,0.7]},$Easing:{$Left:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
			{$Duration:1200,x:-0.3,$SlideOut:true,$Easing:{$Left:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
			{$Duration:1200,x:-0.3,$During:{$Left:[0.3,0.7]},$Easing:{$Left:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
			{$Duration:1200,x:0.3,$SlideOut:true,$Easing:{$Left:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
			{$Duration:1200,y:0.3,$During:{$Top:[0.3,0.7]},$Easing:{$Top:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
			{$Duration:1200,y:-0.3,$SlideOut:true,$Easing:{$Top:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
			{$Duration:1200,y:-0.3,$During:{$Top:[0.3,0.7]},$Easing:{$Top:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
			{$Duration:1200,y:0.3,$SlideOut:true,$Easing:{$Top:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
			{$Duration:1200,x:0.3,$Cols:2,$During:{$Left:[0.3,0.7]},$ChessMode:{$Column:3},$Easing:{$Left:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
			{$Duration:1200,x:0.3,$Cols:2,$SlideOut:true,$ChessMode:{$Column:3},$Easing:{$Left:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
			{$Duration:1200,y:0.3,$Rows:2,$During:{$Top:[0.3,0.7]},$ChessMode:{$Row:12},$Easing:{$Top:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
			{$Duration:1200,y:0.3,$Rows:2,$SlideOut:true,$ChessMode:{$Row:12},$Easing:{$Top:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
			{$Duration:1200,y:0.3,$Cols:2,$During:{$Top:[0.3,0.7]},$ChessMode:{$Column:12},$Easing:{$Top:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
			{$Duration:1200,y:-0.3,$Cols:2,$SlideOut:true,$ChessMode:{$Column:12},$Easing:{$Top:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
			{$Duration:1200,x:0.3,$Rows:2,$During:{$Left:[0.3,0.7]},$ChessMode:{$Row:3},$Easing:{$Left:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
			{$Duration:1200,x:-0.3,$Rows:2,$SlideOut:true,$ChessMode:{$Row:3},$Easing:{$Left:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
			{$Duration:1200,x:0.3,y:0.3,$Cols:2,$Rows:2,$During:{$Left:[0.3,0.7],$Top:[0.3,0.7]},$ChessMode:{$Column:3,$Row:12},$Easing:{$Left:$Jease$.$InCubic,$Top:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
			{$Duration:1200,x:0.3,y:0.3,$Cols:2,$Rows:2,$During:{$Left:[0.3,0.7],$Top:[0.3,0.7]},$SlideOut:true,$ChessMode:{$Column:3,$Row:12},$Easing:{$Left:$Jease$.$InCubic,$Top:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
			{$Duration:1200,$Delay:20,$Clip:3,$Assembly:260,$Easing:{$Clip:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
			{$Duration:1200,$Delay:20,$Clip:3,$SlideOut:true,$Assembly:260,$Easing:{$Clip:$Jease$.$OutCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
			{$Duration:1200,$Delay:20,$Clip:12,$Assembly:260,$Easing:{$Clip:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
			{$Duration:1200,$Delay:20,$Clip:12,$SlideOut:true,$Assembly:260,$Easing:{$Clip:$Jease$.$OutCubic,$Opacity:$Jease$.$Linear},$Opacity:2}
		];
		var jssor_1_options = {
			$AutoPlay: true,
			$SlideshowOptions: {
				$Class: $JssorSlideshowRunner$,
				$Transitions: jssor_1_SlideshowTransitions,
				$TransitionsOrder: 1
			},
			$ArrowNavigatorOptions: {
				$Class: $JssorArrowNavigator$
			},
			$ThumbnailNavigatorOptions: {
				$Class: $JssorThumbnailNavigator$,
				$Cols: 10,
				$SpacingX: 8,
				$SpacingY: 8,
				$Align: 360
			}
		};

		var jssor_1_slider = new $JssorSlider$("jssor_1", jssor_1_options);
		function ScaleSlider() {
			var refSize = jssor_1_slider.$Elmt.parentNode.clientWidth;
				if (refSize) {
					refSize = Math.min(refSize, 1200);
					jssor_1_slider.$ScaleWidth(refSize);
				}
				else {
					window.setTimeout(ScaleSlider, 30);
				}
			}
		ScaleSlider();
		$(window).bind("load", ScaleSlider);
		$(window).bind("resize", ScaleSlider);
		$(window).bind("orientationchange", ScaleSlider);
	});
</script>
<%= render 'staticpage/footer'%>
