<%= render 'header'%>
<section class="banner-main accomodation-banner">
	<div class="container">
		<div class="row">
			<div class=" pad_none banner-inner"><br><br>
				<h2 class="fadeInUp wow" data-wow-duration="2s" data-wow-delay="0s">ACCOMMODATION </h2>
				<p class="fadeInUp wow" data-wow-duration="2s" data-wow-delay="0.3s">KSG has sourced 15 properties ranging from 3.5* to luxury 5*. With both hotels and self-service apartments KSG has the right home away from home for everyone. </p>
				<!--
				<a href="#" class="read-more-banner fadeInUp wow" data-wow-duration="2s" data-wow-delay="0.3s">READ MORE <img src="<?php echo base_url();?>assets/images/banner-readmore-bg.png" class="banr-readmore3"></a> -->
			</div>
		</div>
	</div>
	<div class="gold-cost-right" >
		<img src="/assets/images/gold-cost-img.png" alt="">
	</div>
</section>

<div class="container" id="accommodation_body" style="background-color: #F0F0F0;">
	<div class="row">
		<div class="col col-md-3" style="padding-top:2%;">
			<div id="panel" class="">
          <div class="well">
            <form class="" action="index.html" method="post">
							<label for="session">Session Code</label>
							<% if @current_user.present? %>
            	<input type="text" placeholder="<%= @current_user.first_name + @current_user.last_name %>" disabled="true" style="border:none; background:transparent;"><br>
							<%else%>
							<input type="text" placeholder="" disabled="true" style="border:none; background:transparent;"><br>
							<%end%>
							<label for="event">Stars</label><br>
								<select>
									<option value="">Choose</option>
									<option value="1">1</option>
									<option value="2">2</option>
									<option value="3">3</option>
									<option value="4">4</option>
									<option value="5">5</option>
								</select><br><hr>
								<label for="start_date">Start Date</label>
								<input type="date" name="start_date" id="start_date"><br><hr>
								<label for="end_date">End Date</label><br>
								<input type="date" name="end_date" id="end_date"><hr>
								<button type="button" name="button" class="btn btn-warning btn-block" style="background-color:#F5BA13;box-shadow: 0 3px 0 0 #a1790c;">Apply</button>
            </form>
          </div>
      </div>
		</div>
		<div class="col col-md-9" >
			<% @hotels.each do |g| %>
			<div class="row" style="background-color:white; margin-top:3%; margin-bottom:2%; margin-right:0%;">
				<div class="col col-md-4" style="text-align:center;">
					<img width="150" height="150" alt="<%= g.pics_file_name %>" src="<%= g.pics%>" style="width:auto;padding-top:4%; padding-bottom:4%;">
				</div>

				<div class="col col-md-8">
					<div class="clearfix">
					<h3 class="box-title pull-left"><%= g.name %></h3>
					</div>

					<div class="col-xs-5 date">
					 <div>
								<address class="">
									<%= g.address %>
								</address>
					 </div>

					</div>
					<div class="col-xs-5 date">
						 <span class="skin-color">
							 <% for i in 1..g.star_rating%>
									<i class="fa fa-star sim-stars" aria-hidden="true"></i>
								<%end%>
							</span><br>

					</div>
					<div class="col xs-4 pull-right">
						<a href="/hotel_info/<%= g.id %>"><button type="button" class="btn btn-warning" name="button" style="background-color:#F5BA13;box-shadow: 0 3px 0 0 #a1790c;"><i class="fa fa-eye" aria-hidden="true"></i>
 View</button></a>
					</div>
				</div>

			</div>
					<%end%>

	</div>


	</div>

</div>

<style media="screen">
.btn-warning:hover {
		color: black !important;
		background-color: transparent !important;
	}

</style>
<%= render 'footer'%>
