<%= render 'header'%>
<section class="banner-main event-tickets-banner">
	<div class="container">
		<div class="row">
			<div class=" pad_none banner-inner">
				<h2 class="fadeInUp wow" data-wow-duration="2s" data-wow-delay="0s">EVENT TICKETS </h2>
				<p class="fadeInUp wow" data-wow-duration="2s" data-wow-delay="0.3s">Stand alone tickets for sale to residents of authorised countries.</p>
				<!--
				<a href="#" class="read-more-banner fadeInUp wow" data-wow-duration="2s" data-wow-delay="0.3s">READ MORE <img src="<?php echo base_url();?>assets/images/banner-readmore-bg.png" class="banr-readmore3"></a> -->
			</div>
		</div>
	</div>
	<div class="gold-cost-right" >
		<img src="/assets/images/gold-cost-img.png" alt="">
	</div>
</section>


<!-- <section class="accommodation-main-outer4 event-ticket-inner3">
	<div class="container">
		<div class="row">
			<div class="exclusive-reprensentatio-inner accommodation-main-inner4">
				<h2 class="fadeInUp wow" data-wow-duration="2s" data-wow-delay="0s"><samp>EVENT TICKET</samp> <br>INFORMATION </h2>
					<div class="col-xs-12 pad_none event-ticket-main-out4">
						<p>
							Kingdom Sports Group is an authorised ticket reseller for the Gold Coast 2018 Commonwealth Games and you can secure your piece of history now. Event ticket only applications are now open.
						</p>

					</div>
			</div>
		</div>
	</div>
</section> -->

<section class="accommodation-main-outer4 event-ticket-inner3">
<img src="/assets/images/ticket-info-design-img3.png" class="ticket-info-design-img3">
	<div class="container">
		<div class="row">
			<div class="exclusive-reprensentatio-inner accommodation-main-inner4">
				<h2 class="fadeInUp wow" data-wow-duration="2s" data-wow-delay="0s"><samp>EVENT TICKET</samp> <br>INFORMATION </h2>
			<div class="col col-md-3" style="padding-top:2%;">
				<div id="panel" class="">
					<div class="well" style="background-color: #fff;">
						<form class="" action="/event/" method="get">
							<label for="session" class="pull-left">Session Code</label>
							<% if @current_user.present? %>
							<input type="text" placeholder="<%= @current_user.first_name+" "+@current_user.last_name %>" disabled="true" style="border:none; background: #f5f5f5; text-align:left;"><br>
							<%else%>
							<input type="text" placeholder="" disabled="true" style="border:none; background:transparent;"><br>
							<%end%>
							<label for="event" class="pull-left">Events</label><br>
								<select name="event" class="custom-select form-control">
									<option value="">Choose</option>
									<% @all_events.each do |i| %>
										<option <% if params[:event] == i %>selected=""<% end %> value="<%= i %>"><%= i %></option>
									<% end %>
								</select><br>
								<label for="start_date" class="pull-left">Event DATE</label>
								<input type="date" id="from_date_shop" name="start_date" id="start_date" class="form-control" value="<%= params[:start_date] %>"><br>

								<button type="submit" name="button" class="btn btn-warning btn-block" style="background-color:#F5BA13;box-shadow: 0 3px 0 0 #a1790c;border: 0 none;color: #000;">Apply</button>
						</form>
						</div>
				</div>
			</div>

			<div class="col col-md-9 col-sm-12">
				<div class="row" style="background-color:white; margin-top:3%; margin-bottom:2%; margin-right:0%;">
					<div class="col col-md-12 col-sm-12">


					<% @events.each do |i| %>
					<div class="row" style="box-shadow: 2px 2px 2px 2px #a9a9a9; margin-bottom:30px; display:flex;border-radius: 6px;">
						<div class="col col-md-3 col-sm-3 col-xs-3" style="padding-left:0px;">
							<img src="/assets/images/games/KSGAthletics.jpg" alt="" style="width:auto; height:210px;">
						</div>
						<div class="col col-md-8 col-sm-8 col-xs-8">
							<div class="row">
								<div class="col col-md-6 col-sm-6 col-xs-6 pull-left">
									<h6 style="text-decoration: underline; font-weight: bold; padding-left:10px; padding-top: 25px; font-size: 22px; text-align:left;"><%= i['name'] %></h6>
									<!-- <h6><%= i['name'] %></h6> -->
									<%= puts ">>>>>>>>>>>>>>>>>>>>>>>>>>>" %>
									<%= puts i['name'].downcase.tr(" ", "_")%>
								</div>
								<div class="col col-md-6 col-sm-6 col-xs-6">

								</div>
							</div>
							<div class="row">
								<div class="col col-md-12 col-sm-12 col-xs-12" style="padding-bottom: 16px;">
									<table class="table">
										<thead>
											<tr>
												<th>Event Date:</th>
												<th>Event Time:</th>
											</tr>
										</thead>
										<tbody>
											<tr style="text-align:left;">
												<td><%= i['date'] %></td>
												<td><%= Time.strptime(i['time'], "%H:%M").strftime("%I:%M %P") %></td>
											</tr>
										</tbody>
									</table>

									<a href="/event_detail/"><button type="button" class="btn btn-warning pull-right" name="button" style="background-color:#F5BA13;box-shadow: 0 3px 0 0 #a1790c;border: 0 none;color: #000;"><i class="fa fa-eye" aria-hidden="true"></i>
 View</button></a>
									<!-- <h5>Event Date: <%= i['date'] %> </h5>
									<h5>Event Time: <%= Time.strptime(i['time'], "%H:%M").strftime("%I:%M %P") %></h5> -->
								</div>

							</div>
						</div>
					</div>













						<!-- <div class="row" style="margin-bottom: 15px">
							<div class="col col-md-12 col-xs-12 " style="display:flex;">
								<div class="col col-md-2 col-sm-2 col-xs-2 pad_none ticket2-applications-calender2" style="padding: 27px 0 !important;">
									<span><img src="/assets/images/clender-icon-img1.png" alt=""></span>
									<h4><%= i['date'] %> <br> <strong>2018</strong></h4>
									<img src="/assets/images/gree-right-arrow2.png" class="right-green-arow2"/>
								</div>
								<div class="col col-md-10 col-sm-10 col-xs-10 pad_none ticket2-applications-right-purpel2" style="display: initial;">
									<div class="col col-md-12 pad_none ticket2-applications3-right-inner">
										<h5><%= i['name'] %></h5><br>
										<h5>Event Time: <%= Time.strptime(i['time'], "%H:%M").strftime("%I:%M %P") %></h5>
									</div>
								</div>

							</div>
							<div class="col col-md-12 col-sm-12 col-xs-12 ">

								<div class="row" style="margin: 0px;color: white">
									<% i['cat'].each do |j| %>
										<div class="col-xs-6 col-sm-4 col-md-4 add_to_cart" style="background-color: #f5ba13;border: 1px solid white;cursor:pointer" data-event_id="<%= i['event_id'] %>" data-event_name="<%= i['name'] %>" data-event_date="<%= i['date'] %>" <% if @current_user.present? %>data-toggle="modal" data-target="#eventModal"<% else %>data-toggle="modal" data-target="#loginModal"<%end%>>
											<div class="row">

												<div class="col-xs-8">
													<p class="event_cat" style="font-weight: bold;margin-top: 5px;margin-bottom: 5px;" data-event_cat="<%= j['name'] %>"><%= j['name'] %></p>
													<p class="event_rate" style="font-weight: bold;" data-event_rate="<%= j['rate'] %>">Rate: $<%= j['rate'] %></p>

												</div>
												<div class="col-xs-4">
													<i class="fa fa-cart-plus " style="font-size: 24px;margin-top: 15px;"></i>

												</div>
											</div>
										</div>
									<% end %>
								</div>

							</div>
						</div> -->
					<% end %>

</div>





								<!-- <div class="col evnt">
									<div class="col col-md-12 col-xs-12 pad_none ticket2-applications-fisrt" style="display:flex;">
										<div class="col col-md-2 col-sm-2 col-xs-2 pad_none ticket2-applications-calender2" style="padding: 27px 0 !important;">
											<span><img src="/assets/images/clender-icon-img1.png" alt=""></span>
											<h4>19 Jun <br> <strong>2017</strong></h4>
											<img src="/assets/images/gree-right-arrow2.png" class="right-green-arow2"/>
										</div>
										<div class="col col-md-9 col-sm-8 col-xs-8 pad_none ticket2-applications-right-purpel2" style="display: initial;">
											<div class="col col-md-12 pad_none ticket2-applications3-right-inner">
												<h5>Event Tickets general release</h5>
											</div>

										</div>
										<div class="col col-md-1 col-sm-2 col-xs-2 right-yellow">
											<i class="fa fa-cart-plus fa-3x"></i>
										</div>
									</div>
								</div> -->

					</div>
				</div>
			</div>

		</div>
	</div>
</section>


<style media="screen">

@media screen and (max-width: 989px) and (min-width: 769px) {
	.evnt{
		 padding-left: 2% !important;
	}
}

@media screen and (max-width: 768px) and (min-width: 697px) {
	.evnt{
		 padding-left: 2% !important;
	}
}

@media screen and (max-width: 696px) and (min-width: 480px) {
	.evnt{
		 padding-left: 17px;
	}
}


	.btn-warning:hover {
			color: black !important;
			background-color: transparent !important;
			transition: all 2s ease 0s;
		}

	.right-yellow{
		background-color: #f5ba13;
		text-align: center;
    /*padding-top: 7%;*/
		position: relative;

	}

	.right-yellow i {
		position: absolute;
		left: 23%;
    top: 39%;
	}

	.dtp-header{
		position: unset !important;
	}
</style>
<script>
	$(document).ready(function(){
		$(document).on('click','.add_to_cart',function(){
			$('#eventModal').find('#event_id').val($(this).data('event_id'));
			$('#eventModal').find('#event_name').val($(this).data('event_name'));
			$('#eventModal').find('#event_date').val($(this).data('event_date'));
			$('#eventModal').find('#event_cat').val($(this).find('.event_cat').data('event_cat'));
			$('#eventModal').find('#event_rate').val($(this).find('.event_rate').data('event_rate'));

		});
	});
</script>
<%= render 'footer'%>
