<%= render 'layouts/header'%>


<section class="banner-main" style="background: rgba(0, 0, 0, 0) url('upload/'+<%= @b_img %>;) no-repeat scroll center top / cover;">
	<div class="container">
		<div class="row">
			<div class=" pad_none banner-inner">
				<h2 class="fadeInUp wow" data-wow-duration="2s" data-wow-delay="0s"><%= @bhead.html_safe %></h2>
				<p class="fadeInUp wow" data-wow-duration="2s" data-wow-delay="0.3s"><%= @bstext.html_safe %></p>
				<!--<a href="<?php echo $bblink; ?>" class="read-more-banner fadeInUp wow" data-wow-duration="2s" data-wow-delay="0.3s">READ MORE <img src="/assets/images/banner-readmore-bg.png" class="banr-readmore3"></a>-->
			</div>
		</div>
	</div>
	<div class="gold-cost-right" >
		<img src="assets/images/gold-cost-img.png">
	</div>
</section>


<!---- Banner END ------>


<!---------------------- shopping cart start ------------------------------>
<section class="shopping-cart-main">
 <div class="container">
    <div class="row">
	<div class="col-xs-12 pad_none shopping_cart_top">
		<h2 class="fadeInUp wow" data-wow-duration="2s" data-wow-delay="0s">get your games here</h2>
	</div>
	</div>
</div>

<div class="container">
	<div class="row" style="margin-bottom: 15px;">
		<div class="col-md-4 col-xs-12" style="margin: 15px 0px;">
			<div class="guaranteed-part1-imgnew2">
				<a href="/package" style="display: block; height: 100%;">
					<img src="/assets/images/shopping-big-img2new.jpg" alt="" style="width: 100%; height: 100%;">
					<div class="authprised-territories-img">
						<img src="/assets/images/authorised-territories-img2.png" alt="">
					</div>

					<div class="col-md-12 col-xs-12 pad_none guaranteed-part1-content-main2">

						<h3 style="font-size: 25px;">
							<span>TRAVEL PACKAGES WITH</span><br>
							GUARANTEED TICKETS
						</h3>
					</div>
					<div class="col-md-12 col-xs-12 guaranteed-part1-inner" style="height: 92%; margin: 5%;">
						<div class="guaranteed-content-sec">
							<h3 style="font-size: 28px;">
								<span>TRAVEL PACKAGES WITH</span><br>
								GUARANTEED TICKETS
							</h3>
							<p>
								Your Complete Gold Coast 2018 Sports Tour Program including tickets, accommodation,
							   	transfers, experiences and more.
							</p>
						</div>
					</div>
				</a>
			</div>
		</div>
		<div class="col-md-4 col-xs-12" style="margin: 15px 0px;">
			<div class="guaranteed-part1-imgnew2">
				<a href="/createownpackage" style="display: block; height: 100%;">
					<img src="/assets/images/shopping-big-img2new-create-program.jpg" alt="" style="width: 100%; height: 100%;">
					<div class="authprised-territories-img">
						<img src="/assets/images/authorised-territories-img2.png" alt="">
					</div>
					<div class="col-md-12 col-xs-12 pad_none guaranteed-part1-content-main2">
						<h3 style="font-size: 25px;">
							<span>CREATE YOUR OWN PROGRAM</span><br>
							WITH TICKETS
						</h3>
					</div>
					<div class="col-md-12 col-xs-12 guaranteed-part1-inner" style="height: 92%; margin: 5%;">
						<div class="guaranteed-content-sec">
							<h3 style="font-size: 28px;">
								<span>CREATE YOUR OWN PROGRAM</span><br>
				            	WITH TICKETS
							</h3>
							<p>
								Build your Gold Coast 2018 Sports Tour Program that includes tickets and accommodation,
								then you add the extras your need.
							</p>
						</div>
					</div>
				</a>
			</div>
		</div>
		<div class="col-md-4 col-xs-12" style="margin: 15px 0px;">
			<div class="guaranteed-part1-imgnew2">
				<a href="/event/index" style="display: block; height: 100%;">
					<img src="/assets/images/shopping-big-img2new-ticket.jpg" alt="" style="width: 100%; height: 100%;">
					<div class="authprised-territories-img">
						<img src="/assets/images/authorised-territories-img2.png" alt="">
					</div>
					<div class="col-md-12 col-xs-12 pad_none guaranteed-part1-content-main2">
						<h3 style="font-size: 28px;">
							TICKETS ONLY
						</h3>
					</div>
					<div class="col-md-12 col-xs-12 guaranteed-part1-inner" style="height: 92%; margin: 5%;">
						<div class="guaranteed-content-sec">
							<h3 style="font-size: 28px;">
								STAND ALONE TICKETS
							</h3>
							<p>
								Gold Coast 2018 tickets.<br />Select your events and the category you wish.
							</p>
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>
	<br style="clear: both;" />
	<div class="row" style="margin: 15px -15px;">
		<div class="col-md-12 col-xs-12 accommodation1-main" style="margin-bottom: 15px;">
			<a href="/accommodation" style="display: block; height: 100%;">
				<img src="/assets/images/accomdation-sales-inner-left2.jpg" alt="" style="width: 100%; height: 300px;">
				<div class="col-xs-12 pad_none accommodation1-main-inner">
					<h3 style="font-size: 28px;">
						<span>Global Sales Permitted</span> <br>
						Accommodation
					</h3>
					<samp><img src="assets/images/right-arrow2.png" alt=""></samp>
				</div>
				<div class="col-md-6 col-xs-12 pad_none guaranteed-part1-overlay overlay4" style="margin: 20px; width: 94%; height: 260px;">
					<div class="authprised-territories-img short-new">
						<img src="/assets/images/universal-world-icon.png" alt="">
					</div>
					<div class="guaranteed-content-sec" style="display: block; width: 100%; height: 100%;">
						<h3 style="font-size: 28px; margin-top: 80px;">
							<span> Global Sales Permitted</span> <br>
							Accommodation
						</h3>
						<p>Available to all countries.</p>
					</div>
				</div>
			</a>
		</div>

		<div class="col-md-4 col-xs-6 accommodation1-main space4" style="margin: 15px 0px;">
			<a href="/tour" style="display: block; height: 100%;">
				<img src="/assets/images/sydney-ticket2.png" alt="" style="height: 100%;">
					<div class="col-xs-12 pad_none accommodation1-main-inner" style="width: 100%;">
						<h3 style="font-size: 28px;">
							sydney
						</h3>
						<span>
							<img src="assets/images/right-arrow2.png" alt="" style="width: auto;">
						</span>
					</div>
					<div class="col-xs-12 pad_none guaranteed-part1-overlay overlay5" style="width: 81%; height: 85%">
						<div class="authprised-territories-img short-new">
							<img src="/assets/images/universal-world-icon.png" alt="">
						</div>
					<div class="guaranteed-content-sec">
						<h3 style="font-size: 22px;">
							<br /><br />Spectacular Sydney
						</h3>
					</div>
				</div>
			</a>
		</div>

		<div class="col-md-4 col-xs-6 accommodation1-main space4" style="margin: 15px 0px;">
			<a href="/tour" style="display: block; height: 100%;">
				<img src="/assets/images/newziland-ticket2.png" alt="" style="height: 100%;">
					<div class="col-xs-12 pad_none accommodation1-main-inner" style="width: 100%;">
						<h3 style="font-size: 28px;">
							new zealand
						</h3>
						<span>
							<img src="assets/images/right-arrow2.png" alt="" style="width: auto;">
						</span>
					</div>
					<div class="col-xs-12 pad_none guaranteed-part1-overlay overlay5" style="width: 81%; height: 85%">
						<div class="authprised-territories-img short-new">
							<img src="/assets/images/universal-world-icon.png" alt="">
						</div>
					<div class="guaranteed-content-sec">
						<h3 style="font-size: 22px;">
							<br /><br />Hairy Hobbiton in <br /> New Zealand
						</h3>
					</div>
				</div>
			</a>
		</div>

		<div class="col-md-4 col-xs-6 accommodation1-main space4" style="margin: 15px 0px;">
			<a href="/tour" style="display: block; height: 100%;">
				<img src="/assets/images/chairn-ticket2.jpg" alt="" style="height: 100%;">
					<div class="col-xs-12 pad_none accommodation1-main-inner" style="width: 100%;">
						<h3 style="font-size: 28px;">
							cairns
						</h3>
						<span>
							<img src="assets/images/right-arrow2.png" alt="" style="width: auto;">
						</span>
					</div>
					<div class="col-xs-12 pad_none guaranteed-part1-overlay overlay5" style="width: 81%; height: 85%">
						<div class="authprised-territories-img short-new">
							<img src="assets/images/universal-world-icon.png" alt="">
						</div>
					<div class="guaranteed-content-sec">
						<h3 style="font-size: 22px;">
							<br /><br />Colourful Cairns
						</h3>
					</div>
				</div>
			</a>
		</div>

		<div class="col-md-4 col-xs-6 accommodation1-main space4" style="margin: 15px 0px;">
			<a href="/tour" style="display: block; height: 100%;">
				<img src="/assets/images/malbourn-ticket2.png" alt="" style="height: 100%;">
					<div class="col-xs-12 pad_none accommodation1-main-inner" style="width: 100%;">
						<h3 style="font-size: 28px;">
							melbourne
						</h3>
						<span>
							<img src="assets/images/right-arrow2.png" alt="" style="width: auto;">
						</span>
					</div>
					<div class="col-xs-12 pad_none guaranteed-part1-overlay overlay5" style="width: 81%; height: 85%">
						<div class="authprised-territories-img short-new">
							<img src="assets/images/universal-world-icon.png" alt="">
						</div>
					<div class="guaranteed-content-sec">
						<h3 style="font-size: 22px;">
							<br /><br />Marvelous Melbourne
						</h3>
					</div>
				</div>
			</a>
		</div>

		<div class="col-md-4 col-xs-6 accommodation1-main space4" style="margin: 15px 0px;">
			<a href="/tour" style="display: block; height: 100%;">
				<img src="assets/images/uluru-ticket2.jpg" alt="" style="height: 100%;">
					<div class="col-xs-12 pad_none accommodation1-main-inner" style="width: 100%;">
						<h3 style="font-size: 28px;">
							uluru
						</h3>
						<span>
							<img src="assets/images/right-arrow2.png" alt="" style="width: auto;">
						</span>
					</div>
					<div class="col-xs-12 pad_none guaranteed-part1-overlay overlay5" style="width: 81%; height: 85%">
						<div class="authprised-territories-img short-new">
							<img src="assets/images/universal-world-icon.png" alt="">
						</div>
					<div class="guaranteed-content-sec">
						<h3 style="font-size: 22px;">
							<br /><br />Unbelievable Uluru
						</h3>
					</div>
				</div>
			</a>
		</div>

		<div class="col-md-4 col-xs-6 accommodation1-main space4" style="margin: 15px 0px;">
			<a href="/tour" style="display: block; height: 100%;">
				<img src="/assets/images/gold-coast-ticket2.jpg" alt="" style="height: 100%;">
					<div class="col-xs-12 pad_none accommodation1-main-inner" style="width: 100%;">
						<h3 style="font-size: 28px;">
							<br /><br />gold coast
						</h3>
						<span>
							<img src="/assets/images/right-arrow2.png" alt="" style="width: auto;">
						</span>
					</div>
					<div class="col-xs-12 pad_none guaranteed-part1-overlay overlay5" style="width: 81%; height: 85%">
						<div class="authprised-territories-img short-new">
							<img src="/assets/images/universal-world-icon.png" alt="">
						</div>
					<div class="guaranteed-content-sec">
						<h3 style="font-size: 22px;">
							<br /><br />Glorious Gold Coast
						</h3>
					</div>
				</div>
			</a>
		</div>
	</div>
</div>

</section>
<!---------------------- shopping cart end -------------------------------->



<!----- EXCLUSIVE REPRESENTATIOn start ------->
<section class="exclusive-reprensentatio-main">
	<div class="container">
		<div class="row">
			<div class="exclusive-reprensentatio-inner">
				<h2 class="fadeInUp wow" data-wow-duration="2s" data-wow-delay="0s">EXCLUSIVE <br>  GENERAL SALES AGENT</h2>
				<h3 class="fadeInUp wow mrgnBtm30" data-wow-duration="2s" data-wow-delay="0s">Authorised Ticket Reseller for the Gold Coast 2018 Commonwealth Games.</h3>

				<div class="col-xs-12 pad_none exclusive-flages-out fadeInUp wow" data-wow-duration="2s" data-wow-delay="0s">

					<!-- change this -->
					<% @exclusive.each do |i| %>
					<div class="exclusive-firts-country">
						<span><img src="<%= i.pics(:small) %>" alt="<%= i.name %>"></span>
						<p><%= i.name %></p>
					</div>
					<% end %>

				</div>
			</div>
		</div>
	</div>
</section>


<!---- EXCLUSIVE REPRESENTATIOn end ------>





<!-- AUTHORISED REPRESENTATIOn start -->
<section class="exclusive-reprensentatio-main authoriesde-part-main">
	<div class="container">
		<div class="row">
			<div class="exclusive-reprensentatio-inner">
				<h2 class="fadeInUp wow" data-wow-duration="2s" data-wow-delay="0s">AUTHORISED <br> GENERAL SALES AGENT</h2>
				<h3 class="fadeInUp wow mrgnBtm30" data-wow-duration="2s" data-wow-delay="0s">Authorised Ticket Reseller for Malta, Cyprus and all EU / EEA countries for the Gold Coast 2018 Commonwealth Games.</h3>
				<div class="col-xs-12 pad_none exclusive-flages-out fadeInUp wow" data-wow-duration="2s" data-wow-delay="0s">

						<!-- changes to be done -->
						<% @exclusive_second.each do |d| %>
						<div class="exclusive-firts-country">
							<span><img src="<%= d.pics(:small) %>" alt="<%= d.country %>"></span>
							<p><%= d.country %></p>
						</div>
						<% end %>

				</div>
			</div>
		</div>
	</div>
</section>

<%= render 'layouts/footer'%>
