<%= render 'header'%>
<%= flash[:notice]%>
<!-- toastr.success('Have fun storming the castle!', 'Miracle Max Says') -->

<section class="banner-main" style="background: rgba(0, 0, 0, 0) url('upload/'+<%= @b_img %>;) no-repeat scroll center top / cover;">
	<div class="container">
		<div class="row">
			<div class=" pad_none banner-inner">
				<h2 class="fadeInUp wow" data-wow-duration="2s" data-wow-delay="0s"><%= @bhead.html_safe %></h2>
				<p class="fadeInUp wow" data-wow-duration="2s" data-wow-delay="0.3s"><%= @bstext.html_safe %></p>
				<!--<a href="<?php echo $bblink; ?>" class="read-more-banner fadeInUp wow" data-wow-duration="2s" data-wow-delay="0.3s">READ MORE <img src="<?php echo base_url();?>assets/images/banner-readmore-bg.png" class="banr-readmore3"></a>-->
			</div>
		</div>
	</div>
	<div class="gold-cost-right" >
		<img src="assets/images/gold-cost-img.png">
	</div>
</section>


<!---- Banner END ------>


<!---------------------- shopping cart start ------------------------------>
<section class="shopping-cart-main">
 <div class="container">
    <div class="row">
	<div class="col-xs-12 pad_none shopping_cart_top">
		<h2 class="fadeInUp wow" data-wow-duration="2s" data-wow-delay="0s">get your games here</h2>
	</div>
	</div>
</div>

<div class="container">
	<div class="row" style="margin-bottom: 15px;">
		<div class="col-md-4 col-xs-12" style="margin: 15px 0px;">
			<div class="guaranteed-part1-imgnew2">
				<a href="" style="display: block; height: 100%;">
					<img src="assets/images/shopping-big-img2new.jpg" alt="" style="width: 100%; height: 100%;">
					<div class="authprised-territories-img">
						<img src="assets/images/authorised-territories-img2.png" alt="">
					</div>
					<div class="col-md-12 col-xs-12 pad_none guaranteed-part1-content-main2">
						<h3 style="font-size: 25px;">
							<span>TRAVEL PACKAGES WITH</span><br>
							GUARANTEED TICKETS
						</h3>
					</div>
					<div class="col-md-12 col-xs-12 guaranteed-part1-inner" style="height: 92%; margin: 5%;">
						<div class="guaranteed-content-sec">
							<h3 style="font-size: 28px;">
								<span>TRAVEL PACKAGES WITH</span><br>
								GUARANTEED TICKETS
							</h3>
							<p>
								Your Complete Gold Coast 2018 Sports Tour Program including tickets, accommodation,
							   	transfers, experiences and more.
							</p>
						</div>
					</div>
				</a>
			</div>
		</div>
		<div class="col-md-4 col-xs-12" style="margin: 15px 0px;">
			<div class="guaranteed-part1-imgnew2">
				<a href="" style="display: block; height: 100%;">
					<img src="assets/images/shopping-big-img2new-create-program.jpg" alt="" style="width: 100%; height: 100%;">
					<div class="authprised-territories-img">
						<img src="assets/images/authorised-territories-img2.png" alt="">
					</div>
					<div class="col-md-12 col-xs-12 pad_none guaranteed-part1-content-main2">
						<h3 style="font-size: 25px;">
							<span>CREATE YOUR OWN PROGRAM</span><br>
							WITH TICKETS
						</h3>
					</div>
					<div class="col-md-12 col-xs-12 guaranteed-part1-inner" style="height: 92%; margin: 5%;">
						<div class="guaranteed-content-sec">
							<h3 style="font-size: 28px;">
								<span>CREATE YOUR OWN PROGRAM</span><br>
				            	WITH TICKETS
							</h3>
							<p>
								Build your Gold Coast 2018 Sports Tour Program that includes tickets and accommodation,
								then you add the extras your need.
							</p>
						</div>
					</div>
				</a>
			</div>
		</div>
		<div class="col-md-4 col-xs-12" style="margin: 15px 0px;">
			<div class="guaranteed-part1-imgnew2">
				<a href="" style="display: block; height: 100%;">
					<img src="assets/images/shopping-big-img2new-ticket.jpg" alt="" style="width: 100%; height: 100%;">
					<div class="authprised-territories-img">
						<img src="assets/images/authorised-territories-img2.png" alt="">
					</div>
					<div class="col-md-12 col-xs-12 pad_none guaranteed-part1-content-main2">
						<h3 style="font-size: 28px;">
							TICKETS ONLY
						</h3>
					</div>
					<div class="col-md-12 col-xs-12 guaranteed-part1-inner" style="height: 92%; margin: 5%;">
						<div class="guaranteed-content-sec">
							<h3 style="font-size: 28px;">
								STAND ALONE TICKETS
							</h3>
							<p>
								Gold Coast 2018 tickets.<br />Select your events and the category you wish.
							</p>
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>
	<br style="clear: both;" />
	<div class="row" style="margin: 15px -15px;">
		<div class="col-md-12 col-xs-12 accommodation1-main" style="margin-bottom: 15px;">
			<a href="" style="display: block; height: 100%;">
				<img src="assets/images/accomdation-sales-inner-left2.jpg" alt="" style="width: 100%; height: 300px;">
				<div class="col-xs-12 pad_none accommodation1-main-inner">
					<h3 style="font-size: 28px;">
						<span>Global Sales Permitted</span> <br>
						Accommodation
					</h3>
					<samp><img src="assets/images/right-arrow2.png" alt=""></samp>
				</div>
				<div class="col-md-6 col-xs-12 pad_none guaranteed-part1-overlay overlay4" style="margin: 20px; width: 94%; height: 260px;">
					<div class="authprised-territories-img short-new">
						<img src="assets/images/universal-world-icon.png" alt="">
					</div>
					<div class="guaranteed-content-sec" style="display: block; width: 100%; height: 100%;">
						<h3 style="font-size: 28px; margin-top: 80px;">
							<span> Global Sales Permitted</span> <br>
							Accommodation
						</h3>
						<p>Available to all countries.</p>
					</div>
				</div>
			</a>
		</div>

		<div class="col-md-4 col-xs-6 accommodation1-main space4" style="margin: 15px 0px;">
			<a href="" style="display: block; height: 100%;">
				<img src="assets/images/sydney-ticket2.png" alt="" style="height: 100%;">
					<div class="col-xs-12 pad_none accommodation1-main-inner" style="width: 100%;">
						<h3 style="font-size: 28px;">
							sydney
						</h3>
						<span>
							<img src="assets/images/right-arrow2.png" alt="" style="width: auto;">
						</span>
					</div>
					<div class="col-xs-12 pad_none guaranteed-part1-overlay overlay5" style="width: 81%; height: 85%">
						<div class="authprised-territories-img short-new">
							<img src="assets/images/universal-world-icon.png" alt="">
						</div>
					<div class="guaranteed-content-sec">
						<h3 style="font-size: 22px;">
							<br /><br />Spectacular Sydney
						</h3>
					</div>
				</div>
			</a>
		</div>

		<div class="col-md-4 col-xs-6 accommodation1-main space4" style="margin: 15px 0px;">
			<a href="" style="display: block; height: 100%;">
				<img src="assets/images/newziland-ticket2.png" alt="" style="height: 100%;">
					<div class="col-xs-12 pad_none accommodation1-main-inner" style="width: 100%;">
						<h3 style="font-size: 28px;">
							new zealand
						</h3>
						<span>
							<img src="assets/images/right-arrow2.png" alt="" style="width: auto;">
						</span>
					</div>
					<div class="col-xs-12 pad_none guaranteed-part1-overlay overlay5" style="width: 81%; height: 85%">
						<div class="authprised-territories-img short-new">
							<img src="assets/images/universal-world-icon.png" alt="">
						</div>
					<div class="guaranteed-content-sec">
						<h3 style="font-size: 22px;">
							<br /><br />Hairy Hobbiton in <br /> New Zealand
						</h3>
					</div>
				</div>
			</a>
		</div>

		<div class="col-md-4 col-xs-6 accommodation1-main space4" style="margin: 15px 0px;">
			<a href="" style="display: block; height: 100%;">
				<img src="assets/images/chairn-ticket2.jpg" alt="" style="height: 100%;">
					<div class="col-xs-12 pad_none accommodation1-main-inner" style="width: 100%;">
						<h3 style="font-size: 28px;">
							cairns
						</h3>
						<span>
							<img src="assets/images/right-arrow2.png" alt="" style="width: auto;">
						</span>
					</div>
					<div class="col-xs-12 pad_none guaranteed-part1-overlay overlay5" style="width: 81%; height: 85%">
						<div class="authprised-territories-img short-new">
							<img src="assets/images/universal-world-icon.png" alt="">
						</div>
					<div class="guaranteed-content-sec">
						<h3 style="font-size: 22px;">
							<br /><br />Colourful Cairns
						</h3>
					</div>
				</div>
			</a>
		</div>

		<div class="col-md-4 col-xs-6 accommodation1-main space4" style="margin: 15px 0px;">
			<a href="" style="display: block; height: 100%;">
				<img src="assets/images/malbourn-ticket2.png" alt="" style="height: 100%;">
					<div class="col-xs-12 pad_none accommodation1-main-inner" style="width: 100%;">
						<h3 style="font-size: 28px;">
							melbourne
						</h3>
						<span>
							<img src="assets/images/right-arrow2.png" alt="" style="width: auto;">
						</span>
					</div>
					<div class="col-xs-12 pad_none guaranteed-part1-overlay overlay5" style="width: 81%; height: 85%">
						<div class="authprised-territories-img short-new">
							<img src="assets/images/universal-world-icon.png" alt="">
						</div>
					<div class="guaranteed-content-sec">
						<h3 style="font-size: 22px;">
							<br /><br />Marvelous Melbourne
						</h3>
					</div>
				</div>
			</a>
		</div>

		<div class="col-md-4 col-xs-6 accommodation1-main space4" style="margin: 15px 0px;">
			<a href="" style="display: block; height: 100%;">
				<img src="assets/images/uluru-ticket2.jpg" alt="" style="height: 100%;">
					<div class="col-xs-12 pad_none accommodation1-main-inner" style="width: 100%;">
						<h3 style="font-size: 28px;">
							uluru
						</h3>
						<span>
							<img src="assets/images/right-arrow2.png" alt="" style="width: auto;">
						</span>
					</div>
					<div class="col-xs-12 pad_none guaranteed-part1-overlay overlay5" style="width: 81%; height: 85%">
						<div class="authprised-territories-img short-new">
							<img src="assets/images/universal-world-icon.png" alt="">
						</div>
					<div class="guaranteed-content-sec">
						<h3 style="font-size: 22px;">
							<br /><br />Unbelievable Uluru
						</h3>
					</div>
				</div>
			</a>
		</div>

		<div class="col-md-4 col-xs-6 accommodation1-main space4" style="margin: 15px 0px;">
			<a href="" style="display: block; height: 100%;">
				<img src="assets/images/gold-coast-ticket2.jpg" alt="" style="height: 100%;">
					<div class="col-xs-12 pad_none accommodation1-main-inner" style="width: 100%;">
						<h3 style="font-size: 28px;">
							<br /><br />gold coast
						</h3>
						<span>
							<img src="assets/images/right-arrow2.png" alt="" style="width: auto;">
						</span>
					</div>
					<div class="col-xs-12 pad_none guaranteed-part1-overlay overlay5" style="width: 81%; height: 85%">
						<div class="authprised-territories-img short-new">
							<img src="assets/images/universal-world-icon.png" alt="">
						</div>
					<div class="guaranteed-content-sec">
						<h3 style="font-size: 22px;">
							<br /><br />Glorious Gold Coast
						</h3>
					</div>
				</div>
			</a>
		</div>
	</div>
</div>

</section>
<!---------------------- shopping cart end -------------------------------->



<!----- EXCLUSIVE REPRESENTATIOn start ------->
<section class="exclusive-reprensentatio-main">
	<div class="container">
		<div class="row">
			<div class="exclusive-reprensentatio-inner">
				<h2 class="fadeInUp wow" data-wow-duration="2s" data-wow-delay="0s">EXCLUSIVE <br>  GENERAL SALES AGENT</h2>
				<h3 class="fadeInUp wow mrgnBtm30" data-wow-duration="2s" data-wow-delay="0s">Authorised Ticket Reseller for the Gold Coast 2018 Commonwealth Games.</h3>

				<div class="col-xs-12 pad_none exclusive-flages-out fadeInUp wow" data-wow-duration="2s" data-wow-delay="0s">

					<!-- change this -->
					<div class="exclusive-firts-country">
						<span><img src="/assets/upload/bangladesh-flag.png" alt="dfg"></span>
						<p>BANGLADESH</p>
					</div>
					<div class="exclusive-firts-country">
						<span><img src="/assets/upload/botswana-flag.png" alt="dfg"></span>
						<p>BOTSWANA</p>
					</div>
					<div class="exclusive-firts-country">
						<span><img src="/assets/upload/British-Virgin-Islands.png" alt="dfg"></span>
						<p>BRITISH VIRGIN ISLANDS</p>
					</div>
					<div class="exclusive-firts-country">
						<span><img src="/assets/upload/brunail-flag.png" alt="dfg"></span>
						<p>BRUNEI DARUSSALAM</p>
					</div>
					<div class="exclusive-firts-country">
						<span><img src="/assets/upload/Cook-Islands.png" alt="dfg"></span>
						<p>COOK ISLANDS</p>
					</div>
					<div class="exclusive-firts-country">
						<span><img src="/assets/upload/kenya-flag.png" alt="dfg"></span>
						<p>KENYA</p>
					</div><div class="exclusive-firts-country">
						<span><img src="/assets/upload/Kiribati.png" alt="dfg"></span>
						<p>KIRIBATI</p>
					</div>
					<div class="exclusive-firts-country">
						<span><img src="/assets/upload/lesotho-flag.png" alt="dfg"></span>
						<p>LESOTHO</p>
					</div>
					<div class="exclusive-firts-country">
						<span><img src="/assets/upload/Malawi.png" alt="dfg"></span>
						<p>Malawi</p>
					</div>
					<div class="exclusive-firts-country">
						<span><img src="/assets/upload/malaysia-flag.png" alt="dfg"></span>
						<p>Malaysia</p>
					</div>
					<div class="exclusive-firts-country">
						<span><img src="/assets/upload/mauritius-flag.png" alt="dfg"></span>
						<p>Mauritius</p>
					</div>
					<div class="exclusive-firts-country">
						<span><img src="/assets/upload/namibia-flag.png" alt="dfg"></span>
						<p>Namibia</p>
					</div>
					<div class="exclusive-firts-country">
						<span><img src="/assets/upload/Nauru.png" alt="dfg"></span>
						<p>Nauru</p>
					</div>
					<div class="exclusive-firts-country">
						<span><img src="/assets/upload/pakistan-flag.png" alt="dfg"></span>
						<p>Pakistan</p>
					</div>
					<div class="exclusive-firts-country">
						<span><img src="/assets/upload/Papua-New-Guinea.png" alt="dfg"></span>
						<p>Papua New Guinea</p>
					</div>
					<div class="exclusive-firts-country">
						<span><img src="/assets/upload/Rwanda.png" alt="dfg"></span>
						<p>Rwanda</p>
					</div>
					<div class="exclusive-firts-country">
						<span><img src="/assets/upload/Sierra-flag.png" alt="dfg"></span>
						<p>Sierra Leone</p>
					</div>
					<div class="exclusive-firts-country">
						<span><img src="/assets/upload/singapore-flag.png" alt="dfg"></span>
						<p>Singapore</p>
					</div>
					<div class="exclusive-firts-country">
						<span><img src="/assets/upload/Solomon-Islands.png" alt="dfg"></span>
						<p>Solomon Islands</p>
					</div>
					<div class="exclusive-firts-country">
						<span><img src="/assets/upload/sri-lanka-flag.png" alt="dfg"></span>
						<p>Sri Lanka</p>
					</div>
					<div class="exclusive-firts-country">
						<span><img src="/assets/upload/St-Lucia.png" alt="dfg"></span>
						<p>St Lucia</p>
					</div>
					<div class="exclusive-firts-country">
						<span><img src="/assets/upload/swaziland-flag.png" alt="dfg"></span>
						<p>Swaziland</p>
					</div>
					<div class="exclusive-firts-country">
						<span><img src="/assets/upload/tanzania-flag.png" alt="dfg"></span>
						<p>Tanzania</p>
					</div>
					<div class="exclusive-firts-country">
						<span><img src="/assets/upload/tonga-flag.png" alt="dfg"></span>
						<p>Tonga</p>
					</div>
					<div class="exclusive-firts-country">
						<span><img src="/assets/upload/Tuvalu.png" alt="dfg"></span>
						<p>Tuvalu</p>
					</div>
					<div class="exclusive-firts-country">
						<span><img src="/assets/upload/Uganda.png" alt="dfg"></span>
						<p>Uganda</p>
					</div>
					<div class="exclusive-firts-country">
						<span><img src="/assets/upload/Vanuatu.png" alt="dfg"></span>
						<p>Vanuatu</p>
					</div>
					<div class="exclusive-firts-country">
						<span><img src="/assets/upload/Zambia.png" alt="dfg"></span>
						<p>Zambia</p>
					</div>







				</div>
			</div>
		</div>
	</div>
</section>


<!---- EXCLUSIVE REPRESENTATIOn end ------>





<!-- AUTHORISED REPRESENTATIOn start -->
<section class="exclusive-reprensentatio-main authoriesde-part-main">
	<div class="container">
		<div class="row">
			<div class="exclusive-reprensentatio-inner">
				<h2 class="fadeInUp wow" data-wow-duration="2s" data-wow-delay="0s">AUTHORISED <br> GENERAL SALES AGENT</h2>
				<h3 class="fadeInUp wow mrgnBtm30" data-wow-duration="2s" data-wow-delay="0s">Authorised Ticket Reseller for Malta, Cyprus and all EU / EEA countries for the Gold Coast 2018 Commonwealth Games.</h3>
				<div class="col-xs-12 pad_none exclusive-flages-out fadeInUp wow" data-wow-duration="2s" data-wow-delay="0s">

						<!-- changes to be done -->
						<div class="exclusive-firts-country">
							<span><img src="/assets/upload/england-flag.png" alt="dfg"></span>
							<p>England</p>
						</div>
						<div class="exclusive-firts-country">
							<span><img src="/assets/upload/scotland-flag.png" alt="dfg"></span>
							<p>Scotland</p>
						</div>
						<div class="exclusive-firts-country">
							<span><img src="/assets/upload/wales-flag.png" alt="dfg"></span>
							<p>Wales</p>
						</div>
						<div class="exclusive-firts-country">
							<span><img src="/assets/upload/northern1-flag.png" alt="dfg"></span>
							<p>Northern Ireland</p>
						</div>
						<div class="exclusive-firts-country">
							<span><img src="/assets/upload/cyprus-flag.png" alt="dfg"></span>
							<p>Cyprus</p>
						</div><div class="exclusive-firts-country">
							<span><img src="/assets/upload/malta-flag.png" alt="dfg"></span>
							<p>Malta</p>
						</div>
						<div class="exclusive-firts-country">
							<span><img src="/assets/upload/gibraltar-flag.png" alt="dfg"></span>
							<p>Gibraltar</p>
						</div>
						<div class="exclusive-firts-country">
							<span><img src="/assets/upload/guernsey-flag.png" alt="dfg"></span>
							<p>Guernsey</p>
						</div><div class="exclusive-firts-country">
							<span><img src="/assets/upload/isle2-flag.png" alt="dfg"></span>
							<p>Isle of Man</p>
						</div>
						<div class="exclusive-firts-country">
							<span><img src="/assets/upload/jersey-flag.png" alt="dfg"></span>
							<p>Jersey</p>
						</div><div class="exclusive-firts-country">
							<span><img src="/assets/upload/european-flag.png" alt="dfg"></span>
							<p>European Union</p>
						</div>
						<div class="exclusive-firts-country">
							<span><img src="/assets/upload/austria.png" alt="dfg"></span>
							<p>Austria</p>
						</div>
						<div class="exclusive-firts-country">
							<span><img src="/assets/upload/belgium.png" alt="dfg"></span>
							<p>Belgium</p>
						</div>
						<div class="exclusive-firts-country">
							<span><img src="/assets/upload/bulgaria.png" alt="dfg"></span>
							<p>Bulgaria</p>
						</div>
						<div class="exclusive-firts-country">
							<span><img src="/assets/upload/crotia.png" alt="dfg"></span>
							<p>Croatia</p>
						</div>
						<div class="exclusive-firts-country">
							<span><img src="/assets/upload/czech-republic.png" alt="dfg"></span>
							<p>Czech Republic</p>
						</div>
						<div class="exclusive-firts-country">
							<span><img src="/assets/upload/denmark.png" alt="dfg"></span>
							<p>Denmark</p>
						</div>
						<div class="exclusive-firts-country">
							<span><img src="/assets/upload/estonia.png" alt="dfg"></span>
							<p>Estonia</p>
						</div>
						<div class="exclusive-firts-country">
							<span><img src="/assets/upload/finland.png" alt="dfg"></span>
							<p>Finland</p>
						</div>
						<div class="exclusive-firts-country">
							<span><img src="/assets/upload/france.png" alt="dfg"></span>
							<p>France</p>
						</div>
						<div class="exclusive-firts-country">
							<span><img src="/assets/upload/germany.png" alt="dfg"></span>
							<p>Germany</p>
						</div>
						<div class="exclusive-firts-country">
							<span><img src="/assets/upload/greece.png" alt="dfg"></span>
							<p>Greece</p>
						</div>
						<div class="exclusive-firts-country">
							<span><img src="/assets/upload/hungary.png" alt="dfg"></span>
							<p>Hungary</p>
						</div>
						<div class="exclusive-firts-country">
							<span><img src="/assets/upload/ireland.png" alt="dfg"></span>
							<p>Ireland</p>
						</div>
						<div class="exclusive-firts-country">
							<span><img src="/assets/upload/italy.png" alt="dfg"></span>
							<p>Italy</p>
						</div>
						<div class="exclusive-firts-country">
							<span><img src="/assets/upload/latvia.png" alt="dfg"></span>
							<p>Latvia</p>
						</div>
						<div class="exclusive-firts-country">
							<span><img src="/assets/upload/lithuania.png" alt="dfg"></span>
							<p>Lithuania</p>
						</div>
						<div class="exclusive-firts-country">
							<span><img src="/assets/upload/luxembourg.png" alt="dfg"></span>
							<p>Luxembourg</p>
						</div>
						<div class="exclusive-firts-country">
							<span><img src="/assets/upload/neitherland.png" alt="dfg"></span>
							<p>Netherlands</p>
						</div>
						<div class="exclusive-firts-country">
							<span><img src="/assets/upload/poland.png" alt="dfg"></span>
							<p>Poland</p>
						</div>
						<div class="exclusive-firts-country">
							<span><img src="/assets/upload/portugal.png" alt="dfg"></span>
							<p>Portugal</p>
						</div>
						<div class="exclusive-firts-country">
							<span><img src="/assets/upload/romania.png" alt="dfg"></span>
							<p>Romania</p>
						</div>
						<div class="exclusive-firts-country">
							<span><img src="/assets/upload/slovakia.png" alt="dfg"></span>
							<p>Slovakia</p>
						</div>
						<div class="exclusive-firts-country">
							<span><img src="/assets/upload/slovenia.png" alt="dfg"></span>
							<p>Slovenia</p>
						</div>
						<div class="exclusive-firts-country">
							<span><img src="/assets/upload/spain.png" alt="dfg"></span>
							<p>Spain</p>
						</div>
						<div class="exclusive-firts-country">
							<span><img src="/assets/upload/sweden.png" alt="dfg"></span>
							<p>Sweden</p>
						</div>
						<div class="exclusive-firts-country">
							<span><img src="/assets/upload/united-kingdom.png" alt="dfg"></span>
							<p>United Kingdom</p>
						</div>
						<div class="exclusive-firts-country">
							<span><img src="/assets/upload/iceland.png" alt="dfg"></span>
							<p>Iceland</p>
						</div>
						<div class="exclusive-firts-country">
							<span><img src="/assets/upload/Liechtenstein.png" alt="dfg"></span>
							<p>Liechtenstein</p>
						</div>
						<div class="exclusive-firts-country">
							<span><img src="/assets/upload/norway.png" alt="dfg"></span>
							<p>Norway</p>
						</div>
						<div class="exclusive-firts-country">
							<span><img src="/assets/upload/Switzerland.png" alt="dfg"></span>
							<p>Switzerland</p>
						</div>




				</div>
			</div>
		</div>
	</div>
</section>

<%= render 'footer'%>
