<%= render 'header'%>

<%= render 'sidebar'%>


<!-- MAIN PANEL -->
<div id="main" role="main">

  <!-- RIBBON -->
  <div id="ribbon">


    <!-- breadcrumb -->
    <ol class="breadcrumb">
      <li>User Information</li>
    </ol>
    <!-- end breadcrumb -->

    <!-- You can also add more buttons to the
    ribbon for further usability

    Example below:

    <span class="ribbon-button-alignment pull-right">
    <span id="search" class="btn btn-ribbon hidden-xs" data-title="search"><i class="fa-grid"></i> Change Grid</span>
    <span id="add" class="btn btn-ribbon hidden-xs" data-title="add"><i class="fa-plus"></i> Add</span>
    <span id="search" class="btn btn-ribbon" data-title="search"><i class="fa-search"></i> <span class="hidden-mobile">Search</span></span>
    </span> -->

  </div>
  <!-- END RIBBON -->

  <!-- MAIN CONTENT -->
  <div id="content">

    <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <h1 class="page-title txt-color-blueDark">
          <i class="fa fa-fw fa-user"></i>
            User
        </h1>
      </div>
      <!-- <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" align="right">
        <a href="/admin/export.xlsx/">
          <button type="button" class="page-title btn btn-primary">
            Export to Excel
          </button>
        </a>
      </div> -->

    </div>

    <!-- widget grid -->
    <section id="widget-grid" class="">
      <% if flash[:msg] %>
          <div class="alert alert-success delete-alert" style="text-align: center;">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <%= flash[:msg] %>
          </div>
        <% end %>
      <!-- row -->
      <div class="row">

        <!-- NEW WIDGET START -->
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

          <!-- Widget ID (each widget will need unique ID)-->
          <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-colorbutton="false"
            data-widget-editbutton="false"
            data-widget-togglebutton="false"
            data-widget-deletebutton="false"
            data-widget-fullscreenbutton="false"
            data-widget-custombutton="false"
            data-widget-collapsed="false"
            data-widget-sortable="false">
            <!-- widget options:
            usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

            data-widget-colorbutton="false"
            data-widget-editbutton="false"
            data-widget-togglebutton="false"
            data-widget-deletebutton="false"
            data-widget-fullscreenbutton="false"
            data-widget-custombutton="false"
            data-widget-collapsed="true"
            data-widget-sortable="false"

            -->
            <header>
              <span class="widget-icon"> <i class="fa fa-user"></i> </span>
              <h2>User information</h2>

            </header>

            <!-- widget div-->
            <div>

              <!-- widget edit box -->
              <div class="jarviswidget-editbox">
                <!-- This area used as dropdown edit box -->

              </div>
              <!-- end widget edit box -->

              <!-- widget content -->
              <div class="widget-body no-padding">

                <table id="dt_basic" class="table table-striped table-bordered table-hover" width="100%">

                  <tbody>
                    <tr>
                      <td>Name:</td>
                      <td><%= @user.first_name %> <%= @user.last_name %></td>
                    </tr>
                    <tr>
                      <td>Email:</td>
                      <td><%= @user.email %></td>
                    </tr>
                    <tr>
                      <td>Status</td>
                      <td><%= @user.active %></td>
                    </tr>
                    <tr>
                      <td>Phone:</td>
                      <td><%= @user.phone %></td>
                    </tr>
                    <tr>
                      <td>Address:</td>
                      <td><%= @user.address %></td>
                    </tr>
                    <tr>
                      <td>City:</td>
                      <td><%= @user.city %></td>
                    </tr>
                    <tr>
                      <td>State:</td>
                      <td><%= @user.state %></td>
                    </tr>
                    <tr>
                      <td>Post Code:</td>
                      <td><%= @user.post_code%></td>
                    </tr>
                    <tr>
                      <td>Country:</td>
                      <td><%= @user.country %></td>
                    </tr>
                  </tbody>
                </table>

              </div>
              <!-- end widget content -->

            </div>
            <!-- end widget div -->

          </div>
          <!-- end widget -->

        </article>
        <!-- WIDGET END -->

      </div>

      <!-- end row -->

      <!-- end row -->

    </section>
    <!-- end widget grid -->

  </div>
  <!-- END MAIN CONTENT -->

</div>
<!-- END MAIN PANEL -->

<!-- PAGE FOOTER -->
<div class="page-footer">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <p style="color:#ffffff;" >Kingdom Sports Group ©2018 </p>
    </div>
  </div>
</div>
<style>
  html, body {
      height: unset !important;
  }
</style>
<!-- END PAGE FOOTER -->


<!-- END SHORTCUT AREA -->

<!--================================================== -->

<!-- PACE LOADER - turn this on if you want ajax loading to show (caution: uses lots of memory on iDevices)-->
<script data-pace-options='{ "restartOnRequestAfter": true }' src="/assets/js_a/plugin/pace/pace.min.js"></script>

<!-- Link to Google CDN's jQuery + jQueryUI; fall back to local -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
  if (!window.jQuery) {
    document.write('<script src="/assets/js_a/libs/jquery-2.1.1.min.js"><\/script>');
  }
</script>

<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<script>
  if (!window.jQuery.ui) {
    document.write('<script src="/assets/js_a/libs/jquery-ui-1.10.3.min.js"><\/script>');
  }
</script>

<!-- IMPORTANT: APP CONFIG -->
<script src="/assets/js_a/app.config.js"></script>

<!-- JS TOUCH : include this plugin for mobile drag / drop touch events-->
<script src="/assets/js_a/plugin/jquery-touch/jquery.ui.touch-punch.min.js"></script>

<!-- BOOTSTRAP JS -->
<script src="/assets/js_a/bootstrap/bootstrap.min.js"></script>

<!-- CUSTOM NOTIFICATION -->
<script src="/assets/js_a/notification/SmartNotification.min.js"></script>

<!-- JARVIS WIDGETS -->
<script src="/assets/js_a/smartwidgets/jarvis.widget.min.js"></script>

<!-- EASY PIE CHARTS -->
<script src="/assets/js_a/plugin/easy-pie-chart/jquery.easy-pie-chart.min.js"></script>

<!-- SPARKLINES -->
<script src="/assets/js_a/plugin/sparkline/jquery.sparkline.min.js"></script>

<!-- JQUERY VALIDATE -->
<script src="/assets/js_a/plugin/jquery-validate/jquery.validate.min.js"></script>

<!-- JQUERY MASKED INPUT -->
<script src="/assets/js_a/plugin/masked-input/jquery.maskedinput.min.js"></script>

<!-- JQUERY SELECT2 INPUT -->
<script src="/assets/js_a/plugin/select2/select2.min.js"></script>

<!-- JQUERY UI + Bootstrap Slider -->
<script src="/assets/js_a/plugin/bootstrap-slider/bootstrap-slider.min.js"></script>

<!-- browser msie issue fix -->
<script src="/assets/js_a/plugin/msie-fix/jquery.mb.browser.min.js"></script>

<!-- FastClick: For mobile devices -->
<script src="/assets/js_a/plugin/fastclick/fastclick.min.js"></script>

<!--[if IE 8]>

<h1>Your browser is out of date, please update your browser by going to www.microsoft.com/download</h1>

<![endif]-->


<!-- MAIN APP JS FILE -->
<script src="/assets/js_a/app.min.js"></script>

<!-- ENHANCEMENT PLUGINS : NOT A REQUIREMENT -->
<!-- Voice command : plugin -->
<script src="/assets/js_a/speech/voicecommand.min.js"></script>

<!-- SmartChat UI : plugin -->
<script src="/assets/js_a/smart-chat-ui/smart.chat.ui.min.js"></script>
<script src="/assets/js_a/smart-chat-ui/smart.chat.manager.min.js"></script>

<!-- PAGE RELATED PLUGIN(S) -->
<script src="/assets/js_a/plugin/datatables/jquery.dataTables.min.js"></script>
<script src="/assets/js_a/plugin/datatables/dataTables.colVis.min.js"></script>
<script src="/assets/js_a/plugin/datatables/dataTables.tableTools.min.js"></script>
<script src="/assets/js_a/plugin/datatables/dataTables.bootstrap.min.js"></script>
<script src="/assets/js_a/plugin/datatable-responsive/datatables.responsive.min.js"></script>

<script type="text/javascript">
  $(document).ready(function() {
    $('.side_tab').removeClass('active');
    $('.user_tab').addClass('active');
  });
</script>

</body>
</html>
