<%= render 'layouts/header'%>

<section class="banner-main" style="background: rgba(0, 0, 0, 0) url('upload/'+<%= @b_img %>;) no-repeat scroll center top / cover;">
	<div class="container">
		<div class="row">
			<div class=" pad_none banner-inner">

			</div>
		</div>
	</div>
	<div class="gold-cost-right" >
		<img src="assets/images/gold-cost-img.png">
	</div>
</section>


<section class="create-your-own-packages-main-outer4">

  <div class="row">
		<div class="exclusive-reprensentatio-inner accommodation-main-inner4 ">
				<h2 class="fadeInUp wow" data-wow-duration="2s" data-wow-delay="0s">Update Information</h2>
    <div class="col col-md-3">

    </div>
    <div class="col col-md-6">

      <form action="/change_info" method="post" id="update_info">
        <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
        <div class="form-group">
          <!-- <label for="first_name">First Name</label> -->
          <input type="text" class="form-control" id="first_name" name="first_name" value="<%= @user.first_name%>" required="true" placeholder="First Name">
          <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
        </div>

				<div class="form-group">
	        <!-- <label for="middle_name">Middle Name</label> -->
	        <input type="text" class="form-control" id="middle_name" name="middle_name" value="<%= @user.middle_name %>"  placeholder="Middle Name">
	      </div>

        <div class="form-group">
          <!-- <label for="last_name">Last Name</label> -->
          <input type="text" class="form-control" id="last_name" name="last_name" value="<%= @user.last_name %>" required="true" placeholder="Last Name">
          <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
        </div>

        <div class="form-group">
          <!-- <label for="email">Email address</label> -->
          <input type="hidden" class="form-control" id="email"  name="email" value="<%= @user.email%>" required="true">

        </div>

      <div class="form-group">
        <!-- <label for="phone">Contact</label> -->
        <input type="text" class="form-control" id="phone" name="phone" value="<%= @user.phone %>" required="true" placeholder="Phone">
      </div>


			<div class="form-group">
        <!-- <label for="address">Address</label> -->
				<textarea class="form-control" name="address" id="address" rows="5" cols="80" placeholder="Address"><%= @user.address %></textarea>
        <!-- <input type="text" class="form-control" id="address" name="address" value="<%= @user.address %>" required="true"> -->
      </div>

			<div class="form-group">
        <!-- <label for="city">City</label> -->
        <input type="text" class="form-control" id="city" name="city" value="<%= @user.city %>" required="true" placeholder="City">
      </div>

			<div class="form-group">
        <!-- <label for="state">State</label> -->
        <input type="text" class="form-control" id="state" name="state" value="<%= @user.state %>"  placeholder="State">
      </div>

			<div class="form-group">
        <!-- <label for="post_code">Pincode</label> -->
        <input type="text" class="form-control" id="post_code" name="post_code" value="<%= @user.post_code %>" required="true" placeholder="Postcode">
      </div>




			<% if @user.country.present? %>
				<input type="hidden" id="country_selected" value="<%= @user.country %>">
			<%end%>


			<div class="form-group">
				<select class="custom-select form-control" name="country">
					<option value="">Choose</option>
					<% @country.each do |c| %>

					<option value="<%= c.name %>"><%= c.name %></option>
					<%end%>
				</select>
      </div>



      <button type="submit" class="subscribe-submit subscribe-submit-new">Submit</button>
      <br><br>
    </form>

    </div>
    <div class="col col-md-3">

    </div>

  </div>
</div>

</div>
</section>

<script type="text/javascript">
	var opt_country = $("#country_selected").val();
	// alert(opt_country);
	$(".form-group select").val(opt_country);
</script>
<%= render 'layouts/footer'%>
