<%= render 'layouts/header'%>
<section class="banner-main event-tickets-banner">
    <div class="container">
        <div class="row">
            <div class=" pad_none banner-inner">
                <h2 class="fadeInUp wow" data-wow-duration="2s" data-wow-delay="0s">EVENT TICKETS </h2>
                <p class="fadeInUp wow" data-wow-duration="2s" data-wow-delay="0.3s">Stand alone tickets for sale to residents of authorised countries.</p>
                <!--
                <a href="#" class="read-more-banner fadeInUp wow" data-wow-duration="2s" data-wow-delay="0.3s">READ MORE <img src="/assets/images/banner-readmore-bg.png" class="banr-readmore3"></a> -->
            </div>
        </div>
    </div>
    <div class="gold-cost-right" >
        <img src="/assets/images/gold-cost-img.png" alt="">
    </div>
</section>

<section class="accommodation-main-outer4 event-ticket-inner3">
	<div class="container">
		<div class="row">
			<div class="exclusive-reprensentatio-inner accommodation-main-inner4">
				<h2 class="fadeInUp wow" data-wow-duration="2s" data-wow-delay="0s"><samp>EVENT TICKET</samp> <br>INFORMATION </h2>
					<div class="col-xs-12 pad_none event-ticket-main-out4">
						<p>
							Kingdom Sports Group is an authorised ticket reseller for the Gold Coast 2018 Commonwealth Games and you can secure your piece of history now. Event ticket only applications are now open.
						</p>

					</div>
			</div>
		</div>
	</div>
</section>


<section class="ticket-applications-main2">
	<div class="container">
		<div class="row">
			<div class="ticket-applications-inner2">
				<h2 class="fadeInUp wow" data-wow-duration="2s" data-wow-delay="0s"><samp>TIMELINE FOR</samp> <br> ticket only applications</h2>

				<div class="col-xs-12 pad_none ticket2-applications-lottery-out">
					<div class="col-xs-12 pad_none ticket2-applications-fisrt">
						<div class="col-xs-12 col-xs-2 col-md-2 pad_none ticket2-applications-calender2">
							<span><img src="/assets/images/clender-icon-img1.png" alt=""></span>
							<h4>15 May <br> <strong>2017</strong></h4>
							<img src="/assets/images/gree-right-arrow2.png" class="right-green-arow2"/>
						</div>
						<div class="col-xs-12 col-xs-10 col-md-10 pad_none ticket2-applications-right-purpel2" style="padding: 10px 10px 10px 50px !important;">
						<div class=" col-xs-12 pad_none ticket2-applications3-right-inner">
							<h5>Event Tickets lottery – Application phase opens </h5>
							<p>(Note Travel Packages including tickets and accommodation, create your own packages including tickets and accommodation, and standalone accommodation are all available for immediate purchase) </p>
						</div>
						</div>
					</div>

					<div class="col-xs-12 pad_none ticket2-applications-fisrt">
						<div class="col-xs-12 col-xs-2 col-md-2 pad_none ticket2-applications-calender2">
							<span><img src="/assets/images/clender-icon-img1.png" alt=""></span>
							<h4>5 Jun <br> <strong>2017</strong></h4>
							<img src="/assets/images/gree-right-arrow2.png" class="right-green-arow2"/>
						</div>
						<div class="col-xs-12 col-xs-10 col-md-10 pad_none ticket2-applications-right-purpel2" style="padding: 10px 10px 10px 50px !important;">
						<div class=" col-xs-12 pad_none ticket2-applications3-right-inner">
							<h5>Event Tickets lottery – Application phase temporarily closes  </h5>
						</div>
						</div>
					</div>


					<div class="col-xs-12 pad_none ticket2-applications-fisrt">
						<div class="col-xs-12 col-xs-2 col-md-2 pad_none ticket2-applications-calender2">
							<span><img src="/assets/images/clender-icon-img1.png" alt=""></span>
							<h4>12 Jun <br> <strong>2017</strong></h4>
							<img src="/assets/images/gree-right-arrow2.png" class="right-green-arow2"/>
						</div>
						<div class="col-xs-12 col-xs-10 col-md-10 pad_none ticket2-applications-right-purpel2" style="padding: 10px 10px 10px 50px !important;">
						<div class=" col-xs-12 pad_none ticket2-applications3-right-inner">
							<p>Event Tickets results are complete, payment is automatically charged for successful results to all
								card holders under AU$2,500 and over AU$2,500 an invoice for payment within 7 days is issued.
							</p>
							<p>For any tickets that are <a target="_blank" href="/upload/GC2018_Waitlisted_Event_Tickets_T&C_KSG_v1.pdf" style="color: white; text-decoration: underline;">waitlisted / backordered</a>, standalone event ticket clients have 7 days
								in which to accept the terms of sale and make the necessary 50% payment deposit. Please refer
								to the terms and conditions of sale for further information.
							</p>
						</div>
						</div>
					</div>

					<div class="col-xs-12 pad_none ticket2-applications-fisrt">
						<div class="col-xs-12 col-xs-2 col-md-2 pad_none ticket2-applications-calender2">
							<span><img src="/assets/images/clender-icon-img1.png" alt=""></span>
							<h4>19 Jun <br> <strong>2017</strong></h4>
							<img src="/assets/images/gree-right-arrow2.png" class="right-green-arow2"/>
						</div>
						<div class="col-xs-12 col-xs-10 col-md-10 pad_none ticket2-applications-right-purpel2" style="padding: 10px 10px 10px 50px !important;">
						<div class=" col-xs-12 pad_none ticket2-applications3-right-inner">
							<h5>Event Tickets general release</h5>

						</div>
						</div>
					</div>


				</div>

			</div>
		</div>
	</div>
</section>


<section class="condition-of-sale-main-outer2">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 pad_none condition-of-sale-main-inner set_response-form-outr3-main">
				<h2 class="fadeInUp wow" data-wow-duration="2s" data-wow-delay="0s">
				how to order</h2>

				<div class="col-xs-12 col-md-4 col-sm-4 pad_none officaly-ticketing-agancy-left2" style="width: 100%;">
							<ul>
								<li>Create an account with KSG and log into your account.</li>
								<li>Browse the sessions via Sport using the filters.</li>
								<li>Add your desired quantity into the shopping cart.</li>
								<li>Before you check out please understand our payment terms<br>
                  <ul>
                    <li>All requests above AU$2,500 will be checked by the KSG Team and you will be contacted offline for payment via bank transfer.</li>
                    <li>Transactions under AU$2,500 will be processed online (with an additional 2.5% credit card surcharge).</li>
                    <li>Freight is applied to each client once. That means if you place multiple orders you will only be charged the freight fee one time.</li>
                  </ul>
              </li>
              <li>To help you prepare your order you can download our offline order form. This is for order preparation only and we ask that you please place your order online to receive the most up to date inventory availability which changes on a regular basis. <a href="http://kingdomsg2018.kingdomsg.com/assets/upload/GC2018-Order-form-KSG-v5.xlsx" target="_blank">Download order form</a></li>
              <li>For more information on the Terms and Conditions please download them <a href="/assets/Terms and Conditions of Sale - KSG LEGAL POLICY v3.pdf" target="_blank">here</a></li>
              <li>Transactions found to have breached the terms and conditions of sale may be cancelled by the KSG Team.</li>
							</ul>
						</div>

				<br style="clear: both;" />
        <!-- <div class="col-md-12">
					<div class="col-md-12">
						<a class="subscribe-submit" href="http://kingdomsg2018.kingdomsg.com/assets/upload/GC2018-Order-form-KSG-v5.xlsx"><i class="fa fa-download" aria-hidden="true"></i>&nbsp;&nbsp;Order Form</a>
					</div>
					<div class="clearfix">&nbsp;</div>
				</div> -->
				</div>
			</div>
		</div>
	<!-- </div> -->
</section>

<section class="accommodation-main-outer4 event-ticket-inner3" style="background: none;">

    <div class="container">
        <div class="row">
            <div class="exclusive-reprensentatio-inner accommodation-main-inner4">
                <!-- <h2 class="fadeInUp wow" data-wow-duration="2s" data-wow-delay="0s"><samp>EVENT TICKET</samp> <br>INFORMATION </h2> -->
            <div class="col col-md-3" style="padding-top:2%;">
                <div id="panel" class="">
                    <div class="well" style="background-color: #fff;">
                        <form id="filter_form" action="/event/index/" method="get">

                            <label for="event" class="pull-left">Events</label><br>
                                <select name="event" class="custom-select form-control">
                                    <option value="">All Events</option>
                                    <% @all_events.each do |i| %>
                                        <option <% if params[:event] == i %>selected=""<% end %> value="<%= i %>"><%= i %></option>
                                    <% end %>
                                </select><br>
                                <label for="event" class="pull-left">Start Date</label>
                                <input type="date" name="start_date" class="form-control datepicker" value="<%= params[:start_date] %>"><br>
                                <label for="event" class="pull-left">End Date</label><br>
                                <input type="date" name="end_date" class="form-control datepicker" value="<%= params[:end_date] %>"><br>
                                <button type="submit" class="btn btn-block sub-btn" style="background-color:#F5BA13;box-shadow: 0 3px 0 0 #a1790c;border: 0 none;color: #000;">Apply</button>
                        </form>
                        </div>
                </div>
            </div>
            <div class="col col-md-9 col-sm-12">
                <div class="row" style="background-color:white; margin-top:3%; margin-bottom:2%; margin-right:0%;">
                    <div class="col col-md-12 col-sm-12">
                        <% if @events.blank? %>
                            <h3 style="font-size:">No results found! Please Try Again</h3>
                        <% else %>
                            <% @events.each do |i| %>
                            <div class="row" style="box-shadow: 0px 0px 1px 2px #b3b3af ; margin-bottom: 30px; display: flex;">

                                <div class="col col-md-3 col-sm-3 col-xs-3" style="padding: 0px;">
                                    <img src="/assets/event_img/<%= i['name'].tr(' ','_') %>.jpg" alt="" style="width: auto; height: 150px; margin: 15px;">
                                </div>

                                <div class="col col-md-7 col-sm-7 col-xs-7">
                                    <div class="row" style="margin-top: 15px;">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="col col-md-12 col-sm-12 col-xs-12 pull-left" style="padding: 0px 5px;">
                                                <h6 style="font-family: 'proxima_novaregular'; text-decoration: none; font-weight: bold; font-size: 22px; text-align:left;"><%= i['name'] %> - <%= i['event_code'] %></h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">

                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="col-md-6 col-sm-6 col-xs-6" style="text-align: left; margin: 3px 0px; font-size: 12px; padding: 0px 5px;">
                                                <span style="color:black;font-size: 14px;font-weight: bold;">Date:</span> <%= i['date'] %>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-6" style="text-align: left; margin: 3px 0px; font-size: 12px; padding: 0px 5px;">
                                                <span style="color:black;font-size: 14px;font-weight: bold;">Time:</span> <%= i['time'] %>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-6" style="text-align: left; margin: 3px 0px; font-size: 12px; padding: 0px 5px;">
                                                <span style="color:black;font-size: 14px;font-weight: bold;">Venue:</span> <%= i['venue'] %>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-6" style="text-align: left; margin: 3px 0px; font-size: 12px; padding: 0px 5px;">
                                                <span style="color:black;font-size: 14px;font-weight: bold;">Gender:</span> <%= i['gender'] %>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="col-md-2 col-sm-2 col-xs-2 ticket2-applications-calender2 <%= i['name'].tr(' ','_') %>" style="padding: 15px 0px !important;position: relative;left: 2px;">
                                    <div class="arrow-left <%= i['name'].tr(' ','_') %>_arr"></div>
                                    <div style="color: white; font-size: 20px;">
                                        <h4 style="font-size: 25px;">Starting <br />from <br /> <strong style="font-size: 25px;">AUD <%= i['start_rate'] %></strong><h4>
                                    </div>
                                    <a href="/event/show/<%= i['event_uid'] %>">
                                        <button type="button" class="btn btn-default">
                                             Details
                                         </button>
                                    </a>
                                </div>

                            </div>

                            <% end %>
                        <% end %>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<style media="screen">
@media screen and (max-width: 989px) and (min-width: 769px) {
    .evnt{
         padding-left: 2% !important;
    }
}
@media screen and (max-width: 768px) and (min-width: 697px) {
    .evnt{
         padding-left: 2% !important;
    }
}
@media screen and (max-width: 696px) and (min-width: 480px) {
    .evnt{
         padding-left: 17px;
    }
}
    .btn-warning:hover {
            color: black !important;
            background-color: transparent !important;
            transition: all 2s ease 0s;
        }
    .right-yellow{
        background-color: #f5ba13;
        text-align: center;
    /*padding-top: 7%;*/
        position: relative;
    }
    .right-yellow i {
        position: absolute;
        left: 23%;
    top: 39%;
    }
    .dtp-header{
        position: unset !important;
    }

    .Gymnastics_Rhythmic_arr{
        color: #008b42;
    }
    .Badminton_arr{
        color: #263c91;
    }
    .Lawn_Bowls_arr{
        color: #ee1c25;
    }
    .Squash_arr{
        color: #672c86;
    }
    .Weightlifting_arr{
        color: #9d8046;
    }
    .Shooting_arr{
        color: #008b42;
    }
    .Table_Tennis_arr{
        color: #263c91;
    }
    .Cycling_Mountain_Bike_arr{
        color: #ee1c25;
    }
    .Diving_arr{
        color: #672c86;
    }
    .Beach_Volleyball_arr{
        color: #9d8046;
    }

    .Swimming_arr{
        color: #008b42;
    }
    .Basketball_arr{
        color: #263c91;
    }
    .Closing_Ceremony_arr{
        color: #ee1c25;
    }
    .Boxing_arr{
        color: #672c86;
    }
    .Hockey_arr{
        color: #9d8046;
    }
    .Netball_arr{
        color: #008b42;
    }
    .Cycling_Track_arr{
        color: #263c91;
    }
    .Wrestling_arr{
        color: #ee1c25;
    }
    .Gymnastics_Artistic_arr{
        color: #672c86;
    }
    .Athletics_arr{
        color: #9d8046;
    }
    .Rugby_Sevens_arr{
        color: #008b42;
    }
    .Para_Powerlifting_arr{
        color: #263c91;
    }
    .Triathlon_arr{
        color: #ee1c25;
    }
    .Opening_Ceremony_arr{
        color: #672c86;
    }


    .Gymnastics_Rhythmic{
        background-color: #008b42;
    }
    .Badminton{
        background-color: #263c91;
    }
    .Lawn_Bowls{
        background-color: #ee1c25;
    }
    .Squash{
        background-color: #672c86;
    }
    .Weightlifting{
        background-color: #9d8046;
    }
    .Shooting{
        background-color: #008b42;
    }
    .Table_Tennis{
        background-color: #263c91;
    }
    .Cycling_Mountain_Bike{
        background-color: #ee1c25;
    }
    .Diving{
        background-color: #672c86;
    }
    .Beach_Volleyball{
        background-color: #9d8046;
    }
    .Swimming{
        background-color: #008b42;
    }
    .Basketball{
        background-color: #263c91;
    }
    .Closing_Ceremony{
        background-color: #ee1c25;
    }
    .Boxing{
        background-color: #672c86;
    }
    .Hockey{
        background-color: #9d8046;
    }
    .Netball{
        background-color: #008b42;
    }
    .Cycling_Track{
        background-color: #263c91;
    }
    .Wrestling{
        background-color: #ee1c25;
    }
    .Gymnastics_Artistic{
        background-color: #672c86;
    }
    .Athletics{
        background-color: #9d8046;
    }
    .Rugby_Sevens{
        background-color: #008b42;
    }
    .Para_Powerlifting{
        background-color: #263c91;
    }
    .Triathlon{
        background-color: #ee1c25;
    }
    .Opening_Ceremony{
        background-color: #672c86;
    }

    .arrow-left {
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-right: 10px solid ;
        position: relative;
        right: 10px;
        top: 40%;
    }
</style>
<script>
    $(document).ready(function(){
        $(document).on('click','.add_to_cart',function(){
            $('#eventModal').find('#event_id').val($(this).data('event_id'));
            $('#eventModal').find('#event_name').val($(this).data('event_name'));
            $('#eventModal').find('#event_date').val($(this).data('event_date'));
            $('#eventModal').find('#event_cat').val($(this).find('.event_cat').data('event_cat'));
            $('#eventModal').find('#event_rate').val($(this).find('.event_rate').data('event_rate'));
        });

        // $(document).on('change',"select[name='event']",function(){
        //     if($(this).val()){
        //         $(this).parents('.well').find('.sub-btn').removeClass('disabled');
        //     }
        //     else{
        //         $(this).parents('.well').find('.sub-btn').addClass('disabled');
        //     }
        // });

        // $(document).on('click',".sub-btn",function(){
        //     if($("select[name='event']").val()){
        //         $('#filter_form').submit();
        //     }
        // });
    });
</script>
<%= render 'layouts/footer'%>
