<%= render 'layouts/header'%>
<section class="banner-main accomodation-banner" style="background: rgba(0, 0, 0, 0) url('/assets/images/star.png') no-repeat scroll center center / cover;">
	<div class="container">
	</div>
	<div class="gold-cost-right" >
		<img src="/assets/images/gold-cost-img.png" alt="">
	</div>
</section>
<section class="accommodation-main-outer4" style="background: none;">
  <div class="container">
    <div class="row">
			<div class="exclusive-reprensentatio-inner accommodation-main-inner4">
				<h2 class="fadeInUp wow" data-wow-duration="2s" data-wow-delay="0s">Cart Details</h2>

        <div class="col-sm-12 col-md-10 col-md-offset-1">

      		<!-- <h3 style="text-align: center;font-size: 32px;"><%= flash[:msg] %></h3> -->
			<div class="alert alert-info alert-dismissable">
				<i class="fa fa-info-circle pull-left" style="padding-top: 3px;"></i>
			   <p style="text-align: left;padding-left: 10px;"> Note: All requests above $2,500 will be checked by the KSG Team and you will be contacted offline for payment via bank transfer. Transactions under $2,500 will be processed online (with an additional 2.5% credit card surcharge).</p>
				 <p style="text-align: left;padding-left: 10px;">Transactions found to have breached the terms and conditions of sale may be cancelled by the KSG Team.</p>
				 <p style="text-align: left;padding-left: 10px;">For more information on the Terms and Conditions please download them <a href='http://kingdomsg2018.kingdomsg.com/assets/Terms_and_Conditions_of_Sale_KSG_LEGAL_POLICY_v3.pdf'><strong style="text-decoration:underline">here</strong></a></p>
	        </div>

        	<div class="alert alert-danger alert-dismissable" style="display:none">
						<i class="fa fa-info-circle pull-left" style="padding-top: 3px;"></i>
	          <p style="text-align: left;padding-left: 10px;">Alert :Some or all of the quantity for your event selected is not in stock.</p>
						<p style="text-align: left;padding-left: 10px;">You can:
							<ul style="text-align: left; padding-left: 25px;">
								<li>Reduce the number of tickets requested </li>
								<li>Contact KSG on <a href="mailto:info@kingdomsg.com?subject=feedback">info@kingdomsg.com</a> to request a waitlist of these tickets.</li>
							</ul>
						</p>
	        </div>

					<div class="alert alert-danger alert-dismissable offline" style="display:none">
						<i class="fa fa-info-circle pull-left" style="padding-top: 3px;"></i>
	          <p style="text-align: left;padding-left: 10px;">Alert :We will be back online within 24 hrs</p>
						<p style="text-align: left;padding-left: 10px;">We have secured your cart, Please check after some time
							<!-- <ul style="text-align: left; padding-left: 25px;">
								<li>Reduce the number of tickets requested </li>
								<li>Contact KSG on <a href="mailto:info@kingdomsg.com?subject=feedback">info@kingdomsg.com</a> to request a waitlist of these tickets.</li>
							</ul> -->
						</p>
	        </div>

        	<% if @cart_data.blank? %>
        		<h3 style="text-align: center;font-size: 32px;">You have not added anything to your cart yet</h3>
        	<% else %>

						<!-- <h3 class="pull-left" style="padding-left:10px;">ITEMS</h3> -->
						<div class="col-xs-12 pad-none">


								<table class="table table-hover">
							    <thead>
							      <tr>
							        <th>Item</th>
							        <th>Name</th>
							        <th>Date / Time</th>
							        <th>Quantity</th>
							        <th>Rate</th>
							        <th>Total</th>
							        <th></th>
							      </tr>
							    </thead>
							    <tbody>
							    	<% @cart_data.each do |i| %>
								      <tr <% if i['is_exceed'] %>style="background-color: #f2dede;" class="is_exceed" <% end %>>
								        <td><%= i['item_type'] %></td>
											<td><%= i['name'] %> (<%= i['code']%>)</td>
											<td>
												<a href="" data-toggle="tooltip" data-html="true" title="<b>Time:</b> <%= i['start_time']%>-<%= i['end_date'] %> "><%= i['event_date'] %></a>
											</td>
											<td style="padding-top: 2px;padding-bottom: 2px;"><input type="number" data-amount="<%= i['amount'] %>" data-item_id="<%= i['cart_id'] %>" min="1"

											<% if i['available'].to_i <=9 %>  	max="<%= i['available'] %>"
		                                    <% else %>
		                                      max="9"
		                                    <% end %>

											 class="form-control quantity" placeholder="Enter Quantity" style="width: 50%; margin: auto;" value="<%= i['quantity'] %>"></td>
											<td>AUD <%= i['amount'] %> </td>
											<td >AUD <span class="row_total"></span></td>
											<td><a href="/cart/remove/<%= i['cart_id'] %>"><i class="fa fa-trash" style="margin-right:5px"> </i>Remove</a></td>
								      </tr>
							      <% end %>
							    </tbody>
							  </table>


						</div>



					<div class="col col-xs-12" style="text-align:right;">

						<% if @is_new %>
							<h3 style="font-size: 22px;font-weight: normal;">Freight : AUD <span id="freight_amount">100</span></h3>
						<% end %>
						<h3 style="font-size: 22px;font-weight: normal">Total : AUD <span id="table_total"></span></h3>
						<h3 id="cc_row" style="font-size: 22px;font-weight: normal;display:none">CC : AUD <span id="cc_amount"></span></h3>

						<h3>Grand Total : AUD <span id="grand_total"></span></h3>
						<a class="subscribe-submit" href="/event/index/?event=Athletics" style="padding: 10px 15px !important; width: auto !important; margin: 9px 0px 10px 0px !important; font-size: 14px;">
							Continue Shopping
						</a>

						<a id="checkout_btn" <% if @is_exceed %>class="btn subscribe-submit disabled" href="javascript:void(0)" <%else%>class="btn subscribe-submit" href="/checkout/" <% end %>style="padding: 10px 15px !important; width: 100PX !important; margin: 9px 0px 10px 0px !important; font-size: 14px;box-shadow: 0 5px 0 0 #a1790c;">
							Checkout
						</a>

					</div>
				<% end %>

        </div>
    </div>
</div>
</div>
</section>
<style media="screen">
	.table-hover th{
		background-color: #F5BA13;
		font-family: "proxima_novaregular";
		text-align: center;
		text-transform: uppercase;
    vertical-align: middle;
	}

	.continue_shop:hover{
		background-color: white !important;
		color:  black !important;
	}

</style>
<script>
	$(document).ready(function(){
		$('#checkout_btn').attr('disabled', 'disabled');
		$('.offline').show();
		<% if @is_exceed %>
			$('.alert-danger').show();
		<% end %>
		$(document).on('click','.eventcart',function(){
			if($(this).parents('.cat_box').find('.quantity').val()){
				$('#eventModal').find('#item_id').val($(this).data('item_id'));
				$('#eventModal').find('#item_uid').val($(this).data('item_uid'));
				$('#eventModal').find('#item_cat_code').val($(this).data('item_cat_code'));
				$('#eventModal').find('#quantity').val($(this).parents('.cat_box').find('.quantity').val());
				$('#eventModal').modal('show');
			}
		});
		// $("[type='number']").keypress(function (evt) {
	 //      evt.preventDefault();
	 //    });
		<% if @is_new %>
			var freight = 100;
		<% else %>
			var freight = 0;
		<% end %>
		alert
	    var grand_total = parseFloat(0.00);
		$("[type='number']").each(function( index ) {
		  var row_total = (parseFloat($(this).val())*parseFloat($(this).data('amount'))).toFixed(2);
		  grand_total = parseFloat(grand_total+parseFloat(row_total));
		  ~String(parseFloat(row_total)).indexOf(".") ? row_total = parseFloat(row_total).toFixed(2) : row_total = parseFloat(row_total);
		  $(this).parents('tr').find('.row_total').html(row_total);
		});

		grand_total = parseFloat(grand_total)+parseFloat(freight);
		$("#table_total").html(grand_total);
		if (grand_total <= parseFloat(2500.00)){
			var cc_amount = grand_total*0.025;
			~String(parseFloat(cc_amount)).indexOf(".") ? cc_amount = parseFloat(cc_amount).toFixed(2) : cc_amount = parseFloat(cc_amount);
			$("#cc_amount").html(cc_amount);
			grand_total = parseFloat(grand_total)+parseFloat(cc_amount);
			$("#cc_row").show();

		}
		else{
			$("#cc_row").hide();
		}


		~String(parseFloat(grand_total)).indexOf(".") ? grand_total = parseFloat(grand_total).toFixed(2) : grand_total = parseFloat(grand_total);
		$('#grand_total').html(grand_total);
		$("[type='number']").bind("cut copy paste",function(evt) {
	      evt.preventDefault();
	    });


	    $(document).on('change',"[type='number']",function(){
	    	if(parseInt($(this).val()) <= parseInt($(this).attr('max'))  && parseInt($(this).val()) <= 9 ){
	    		var item_id = $(this).data('item_id');
	    		var quantity = $(this).val();
	    		var this1 = $(this);
	    		$.ajax({
		          url : "/cart/update/", // the endpoint
		          type : "post", // http method
		          data : { item_id : item_id,quantity : quantity }, // data sent with the post request
		          dataType: 'json',
		          success : function(msg) {

		          	var row_total = (parseFloat(this1.val())*parseFloat(this1.data('amount'))).toFixed(2);
		    		~String(parseFloat(row_total)).indexOf(".") ? row_total = parseFloat(row_total).toFixed(2) : row_total = parseFloat(row_total);

		            this1.parents('tr').find('.row_total').html(row_total);
		            this1.parents('tr').removeClass('is_exceed');
	    			this1.parents('tr').css('background-color','white');
		          	var g_total = 0
		          	$( ".row_total" ).each(function( index ) {
					  g_total = g_total + parseFloat($(this).html());
					});

					g_total = parseFloat(g_total)+parseFloat(freight);
					$("#table_total").html(g_total);
					if (g_total <= parseFloat(2500.00)){
						var cc_amount = g_total*0.025;
						~String(parseFloat(cc_amount)).indexOf(".") ? cc_amount = parseFloat(cc_amount).toFixed(2) : cc_amount = parseFloat(cc_amount);
						$("#cc_amount").html(cc_amount);
						g_total = parseFloat(g_total)+parseFloat(cc_amount);
						$("#cc_row").show();
					}
					else{
						$("#cc_row").hide();
					}

					~String(parseFloat(g_total)).indexOf(".") ? g_total = parseFloat(g_total).toFixed(2) : g_total = parseFloat(g_total);
					$('#grand_total').html(g_total);
					if ($('.is_exceed').length == 0){
			    		$('#checkout_btn').removeClass('disabled');
			    		$('#checkout_btn').attr('href','/checkout/');
			    		$('.alert-danger').hide();
			    	}
		          },
		          error : function(xhr,errmsg,err) {

		            alert("xhr:"+xhr+" errmsg:"+errmsg+" err:"+err);
		          }
		        });


	    	}else{
	    		if(!$(this).parents('tr').hasClass('is_exceed')){
		    		$(this).parents('tr').addClass('is_exceed');
		    	    $(this).parents('tr').css('background-color','#f2dede');
		    		$('#checkout_btn').addClass('disabled');
		    		$('#checkout_btn').attr('href','javascript:void(0)');
		    		$('.alert-danger').show();
			    }
	    	}

	    });

	});
</script>
<%= render 'layouts/footer'%>
