<%= render 'staticpage/header'%>
<section class="banner-main accomodation-banner" style="background: rgba(0, 0, 0, 0) url('/assets/images/rooms.jpg') no-repeat scroll center top / cover;"
	<div class="container">
	</div>
	<div class="gold-cost-right" >
		<img src="/assets/images/gold-cost-img.png" alt="">
	</div>
</section>
<section class="accommodation-main-outer4">
  <div class="container">
    <div class="row">
			<div class="exclusive-reprensentatio-inner accommodation-main-inner4">
				<h2 class="fadeInUp wow" data-wow-duration="2s" data-wow-delay="0s">Cart Details</h2>

        <div class="col-sm-12 col-md-10 col-md-offset-1">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Hotel</th>
                        <th>From Date</th>
                        <th>To Date</th>
                        <th class="text-center">Rate</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                  <% @cart.each do |h| %>
                    <tr>
                        <td class="col-sm-8 col-md-6">
                        <div class="media">
                            <a class="thumbnail pull-left" href="#"> <img class="media-object" src="<%= h.room.hotel.pics %>" style="width: 72px; height: 72px;"> </a>
                            <div class="media-body" style="text-align: left; padding-left: 10px;">
                                <h4 class="media-heading"><a href="/hotel_info/<%= h.room.hotel_id %>"><%= h.room.hotel.name %></a></h4>
                                <h5 class="media-heading"><%= h.room.name %></h5>
                                <span>Room Type:</span><span class="text-success"><%= h.room.rooms_type%></span>
                            </div>
                        </div></td>
                        <td class="col-sm-1 col-md-1" style="text-align: center">
                        <!-- <input type="date" class="form-control" id="from_date_shop" disabled="true" value=""> -->
												1/7/2017
                        </td>
                        <td class="col-sm-1 col-md-1 text-center">
                          <!-- <input type="date" class="form-control" name="" id="to_date_shop"> -->
													2/7/2017
                        </td>
                        <td class="col-sm-1 col-md-1 text-center"></td>
                        <td class="col-sm-1 col-md-1">
                        <button type="button" class="btn btn-danger">
                            <a href="/remove_from_cart/<%= h.room.id %>" style="color: white;"> <span class="glyphicon glyphicon-remove"></span> Remove</a>
                        </button></td>
                    </tr>
                    <%end%>

                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td><h3>Total</h3></td>
                        <td class="text-right"><h3><strong></strong></h3></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td>
                        <!-- <button type="button" class="btn btn-default">
                            <a href="/accommodation"><span class="glyphicon glyphicon-shopping-cart"></span> Continue Shopping</a>
                        </button> -->
												<a class="subscribe-submit" href="/accommodation" style="color: white; font-size:10px; background-color:#1e90ff;box-shadow: 0 5px 0 0 #008b8b; border:1px; width:auto; padding: 9px 14px !important;">
					&nbsp;Continue Shopping
				</a>
											</td>
                        <td>
													<button type="button" class="subscribe-submit" style="width:auto; padding: 9px 14px !important;">Checkout</button>
                        <!-- <button type="button" class="btn btn-success">
                            Checkout <span class="glyphicon glyphicon-play"></span>
                        </button></td> -->
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>
</section>
<style media="screen">
	.table-hover th{
		background-color: #F5BA13;
		font-family: "proxima_novaregular";
		text-align: center;
		text-transform: uppercase;
    vertical-align: middle;
	}
</style>
<%= render 'staticpage/footer'%>
