<%= render 'staticpage/header'%>
<section class="banner-main accomodation-banner" style="background: rgba(0, 0, 0, 0) url('/assets/images/star.png') no-repeat scroll center top / cover;">
	<div class="container">
	</div>
	<div class="gold-cost-right" >
		<img src="/assets/images/gold-cost-img.png" alt="">
	</div>
</section>
<section class="accommodation-main-outer4">
  <div class="container">
    <div class="row">
			<div class="exclusive-reprensentatio-inner accommodation-main-inner4">
				<h2 class="fadeInUp wow" data-wow-duration="2s" data-wow-delay="0s">Cart Details</h2>

        <div class="col-sm-12 col-md-10 col-md-offset-1">

      		<!-- <h3 style="text-align: center;font-size: 32px;"><%= flash[:msg] %></h3> -->
			<div class="alert alert-info alert-dismissable">
	          <i class="fa fa-info-circle"></i>
			   <%= @msg %>
	        </div>
	        <% if @is_exceed %>
	        	<div class="alert alert-danger alert-dismissable">
		          <i class="fa fa-info-circle"></i>
				   Alert : No. of quantity is exceed available quatity for particular booking please update or remove Item
		        </div>
	        <% end %>

        	<% if @cart_data.blank? %>
        		<h3 style="text-align: center;font-size: 32px;">You have not added nothing to cart yet</h3>
        	<% else %>

						<!-- <h3 class="pull-left" style="padding-left:10px;">ITEMS</h3> -->
						<div class="col-xs-12 pad-none">


								<table class="table table-hover">
							    <thead>
							      <tr>
							        <th>Item</th>
							        <th>Name</th>
							        <th>Date</th>
							        <th>Quantity</th>
							        <th>Rate</th>
							        <th>Total</th>
							        <th></th>
							      </tr>
							    </thead>
							    <tbody>
							    	<% @cart_data.each do |i| %>
								      <tr <% if i['is_exceed'] %>style="background-color: #f2dede;" class="is_exceed" <% end %>>
								        <td><%= i['item_type'] %></td>
											<td><%= i['name'] %></td>
											<td><%= i['event_date'] %></td>
											<td style="padding-top: 2px;padding-bottom: 2px;"><input type="number" data-amount="<%= i['amount'] %>" data-item_id="<%= i['cart_id'] %>" min="1" max="<%= i['available'] %>" class="form-control quantity" placeholder="Enter Quantity" style="width: 50%; margin: auto;" value="<%= i['quantity'] %>"></td>
											<td>AUD <%= i['amount'] %></td>
											<td >AUD <span class="row_total"><%= "%g" % ("%.2f" % (i['amount'].to_f * i['quantity'].to_f)) %></span></td>
											<td><a href="/cart/remove/<%= i['cart_id'] %>"><i class="fa fa-trash" style="margin-right:5px"> </i>Remove</a></td>
								      </tr>
							      <% end %>
							    </tbody>
							  </table>


						</div>



					<div class="col col-xs-12" style="text-align:right;">

						<h3>Total : AUD <span id="grand_total"><%=  "%g" % ("%.2f" % (@cart_data.map {|s| s['amount'].to_f * s['quantity'].to_f}.reduce(0, :+))) %></span></h3>
						<a class="subscribe-submit" href="/event/index/?event=Basketball" style="padding: 10px 15px !important; width: auto !important; margin: 9px 0px 10px 0px !important; font-size: 14px;">
							Continue Shopping
						</a>

						<a id="checkout_btn" <% if @is_exceed %>class="btn subscribe-submit disabled" href="javascript:void(0)" <%else%>class="subscribe-submit" href="/checkout/" <% end %>style="padding: 10px 15px !important; width: 100PX !important; margin: 9px 0px 10px 0px !important; font-size: 14px;box-shadow: 0 5px 0 0 #a1790c;">
							Checkout
						</a>

					</div>
				<% end %>

        </div>
    </div>
</div>
</div>
</section>
<style media="screen">
	.table-hover th{
		background-color: #F5BA13;
		font-family: "proxima_novaregular";
		text-align: center;
		text-transform: uppercase;
    vertical-align: middle;
	}

	.continue_shop:hover{
		background-color: white !important;
		color:  black !important;
	}
	
</style>
<script>
	$(document).ready(function(){
		$(document).on('click','.eventcart',function(){
			if($(this).parents('.cat_box').find('.quantity').val()){
				$('#eventModal').find('#item_id').val($(this).data('item_id'));
				$('#eventModal').find('#item_uid').val($(this).data('item_uid'));
				$('#eventModal').find('#item_cat_code').val($(this).data('item_cat_code'));
				$('#eventModal').find('#quantity').val($(this).parents('.cat_box').find('.quantity').val());
				$('#eventModal').modal('show');
			}
		});
		// $("[type='number']").keypress(function (evt) {
	 //      evt.preventDefault();
	 //    });
		$("[type='number']").bind("cut copy paste",function(evt) {
	      evt.preventDefault();
	    });


	    $(document).on('change',"[type='number']",function(){
	    	if(parseInt($(this).val()) <= parseInt($(this).attr('max')) ){
	    		var item_id = $(this).data('item_id');
	    		var quantity = $(this).val();
	    		var this1 = $(this);
	    		$.ajax({
		          url : "/cart/update/", // the endpoint
		          type : "post", // http method
		          data : { item_id : item_id,quantity : quantity }, // data sent with the post request
		          dataType: 'json',
		          success : function(msg) {
		            this1.parents('tr').find('.row_total').html(parseFloat(this1.val())*parseFloat(this1.data('amount')));
		            this1.parents('tr').removeClass('is_exceed');
	    			this1.parents('tr').css('background-color','white');
		          	var g_total = 0
		          	$( ".row_total" ).each(function( index ) {
					  g_total = g_total + parseFloat($(this).html());
					});
					$('#grand_total').html(g_total);
		          },
		          error : function(xhr,errmsg,err) {
		            
		            alert("xhr:"+xhr+" errmsg:"+errmsg+" err:"+err);
		          }
		        });

	    		
	    	}
	    	if ($('.yourclass').length == 0){
	    		$('#checkout_btn').removeClass('disabled');
	    		$('#checkout_btn').attr('href','/checkout/');
	    		$('.alert-danger').hide();
	    	}
	    });

	});
</script>
<%= render 'staticpage/footer'%>
