<%= render 'staticpage/header'%>
<section class="banner-main accomodation-banner" style="background: rgba(0, 0, 0, 0) url('/assets/images/rooms.jpg') no-repeat scroll center top / cover;"
	<div class="container">
	</div>
	<div class="gold-cost-right" >
		<img src="/assets/images/gold-cost-img.png" alt="">
	</div>
</section>
<section class="accommodation-main-outer4">
  <div class="container">
    <div class="row">
			<div class="exclusive-reprensentatio-inner accommodation-main-inner4">
				<h2 class="fadeInUp wow" data-wow-duration="2s" data-wow-delay="0s">Cart Details</h2>

        <div class="col-sm-12 col-md-10 col-md-offset-1">

        	<% if @hotels.blank? and @events.blank? %>
        		<h3 style="text-align: center;font-size: 32px;">You have not added nything to cart yet</h3>
        	<% else %>
	        	<% if not @hotels.blank? %>
					<h3 class="pull-left" style="padding-left:10px;">Hotel</h3>
					<div class="col-xs-12 pad_none condition-of-sale-table-new2">
						<div class="col-xs-12 pad_none condition-of-sale-heading-yellow-out">
							<span style="width: 40%;">Hotel</span>
							<span style="width: 15%;">In</span>
							<span style="width: 15%;">Out</span>
							<span style="width: 15%;">Rate</span>
							<span style="width: 15%;"></span>
						</div>

						<div class="col-xs-12 pad_none condition-of-sale-table-scroll-out scrollbox" style="height: auto;">
							<div class="panel-group" id="accordion">
								<% @hotels.each do |h| %>
									<div class="panel panel-default">
									<div class="panel-heading">
								  		<!-- <h4 class="panel-title "> -->
											<div class="accordion-toggle " >
												<p style="width: 40%;">
													<%= h.room.hotel.name %>, <%= h.room.rooms_type%>
												</p>
												<p style="width: 15%;">7/1/2017</p>
												<p style="width: 15%;">31/3/18</p>
												<p style="width: 15%;">50$</p>
												<p style="width: 15%;">
													<a href="/remove_from_cart/<%= h.room_id %>"><i class="fa fa-times"></i>Remove</u></a>
												</p>
											</div>
								  		<!-- </h4> -->
									</div>
							  	</div>
									<%end%>
							</div>
						</div>
					</div>
				<% end %>

				<% if not @events.blank? %>
					<h3 class="pull-left" style="padding-left:10px;">Events</h3>
					<div class="col-xs-12 pad_none condition-of-sale-table-new2">
						<div class="col-xs-12 pad_none condition-of-sale-heading-yellow-out">
							<span style="width: 40%;">Name</span>
							<span style="width: 15%;">Date</span>
							<span style="width: 15%;">Category</span>
							<span style="width: 15%;">Rate</span>
							<span style="width: 15%;"></span>
						</div>

						<div class="col-xs-12 pad_none condition-of-sale-table-scroll-out scrollbox" style="height: auto;">
							<div class="panel-group" id="accordion">
								<% @events.each do |ev| %>
									<div class="panel panel-default">
									<div class="panel-heading">
											<!-- <h4 class="panel-title "> -->
											<div class="accordion-toggle " >
												<p style="width: 40%;">
													<%= ev.event_name %>
												</p>
												<p style="width: 15%;"><%= ev.event_date.strftime("%d/%m/%Y") %></p>
												<p style="width: 15%;"><%= ev.event_cat %></p>
												<p style="width: 15%;"><%= ev.rate %>$</p>
												<p style="width: 15%;">
													<a href="/remove_from_cart_event/<%= ev.id %>"><i class="fa fa-times"></i>Remove</u></a>
												</p>
											</div>
											<!-- </h4> -->
									</div>
									</div>
									<%end%>
							</div>
						</div>
					</div>

				<% end %>

				<div class="col col-xs-12" style="text-align:right;">
					<h3>Total : <%= (HotelShoppingCart.sum('rate') + EventShoppingCart.sum('rate')).round(2)  %>$</h3>
					<a class="subscribe-submit" href="/accommodation" style="padding: 10px 15px !important; width: auto !important; margin: 9px 0px 10px 0px !important; font-size: 14px;">
						Continue Shopping
					</a>

					<a class="subscribe-submit" href="" style="padding: 10px 15px !important; width: 100PX !important; margin: 9px 0px 10px 0px !important; font-size: 14px;">
						Checkout
					</a>

				</div>
			<% end %>

        </div>
    </div>
</div>
</div>
</section>
<style media="screen">
	.table-hover th{
		background-color: #F5BA13;
		font-family: "proxima_novaregular";
		text-align: center;
		text-transform: uppercase;
    vertical-align: middle;
	}

	.continue_shop:hover{
		background-color: white !important;
		color:  black !important;
	}
</style>
<%= render 'staticpage/footer'%>
