<%= render 'layouts/header'%>
<section class="banner-main accomodation-banner" style="background: rgba(0, 0, 0, 0) url('/assets/images/star.png') no-repeat scroll center top / cover;">
	<div class="container">
	</div>
	<div class="gold-cost-right" >
		<img src="/assets/images/gold-cost-img.png" alt="">
	</div>
</section>
<section class="accommodation-main-outer4" style="background: none;">
  <div class="container">
    <div class="row">
		<div class="exclusive-reprensentatio-inner accommodation-main-inner4">
			<h2 class="fadeInUp wow" data-wow-duration="2s" data-wow-delay="0s">My Transactions</h2>

	        <div class="col-sm-12 col-md-10 col-md-offset-1">

	        	<% if @my_payment.blank? %>
	        		<h3 style="text-align: center;font-size: 32px;">No Transactions found</h3>
	        	<% else %>
		        	<% if not @my_payment.blank? %>
						
						<div class="col-xs-12 pad-none">
							<table class="table table-hover">
							    <thead>
							      <tr>
							        <th>Transaction Type</th>
							        <th>Transaction Id</th>
							        <th>Date</th>
							        <th>Amount</th>
							        <th>Freight</th>
							        <th>CC</th>
									<th></th>
							      </tr>
							    </thead>
							    <tbody>
							    	<% @my_payment.each do |i| %>
								      <tr>
										<td><%= i['pay_type'] %></td>
								        <td><%= i['pay_id'] %></td>
										<td><%= i['date'] %></td>
										<td>AUD <%= i['total'] %></td>
										<td><%= i['freight'] %></td>
										<td><%= i['cc_amount'] %></td>
										<td><a href="/my_transaction_detail/<%= i['id']%>"><button type="button" class="btn btn-warning" style="background-color:#F5BA13;box-shadow: 0 3px 0 0 #a1790c;border: 0 none;color: #000;" name="button">View</button></a></td>
								      </tr>
							      <% end %>
							    </tbody>
							</table>

						</div>
					<% end %>
				<% end %>

	        </div>
    	</div>
    </div>

</div>
</div>
</section>
<style media="screen">
	.table-hover th{
		background-color: #F5BA13;
		font-family: "proxima_novaregular";
		text-align: center;
		text-transform: uppercase;
    vertical-align: middle;
	}

	.continue_shop:hover{
		background-color: white !important;
		color:  black !important;
	}
</style>
<%= render 'layouts/footer'%>
