<%= render 'layouts/header'%>
<section class="banner-main accomodation-banner" style="background: rgba(0, 0, 0, 0) url('/assets/images/star.png') no-repeat scroll center top / cover;">
	<div class="container">
	</div>
	<div class="gold-cost-right" >
		<img src="/assets/images/gold-cost-img.png" alt="">
	</div>
</section>
<section class="accommodation-main-outer4" style="background-position: 0% -130%;">
  <div class="container">
    <div class="row">
		<div class="exclusive-reprensentatio-inner accommodation-main-inner4">
			<h2 class="fadeInUp wow" data-wow-duration="2s" data-wow-delay="0s">Review Booking</h2>
			<div class="col-sm-12 col-md-10 col-md-offset-1">
				<% if @is_exceed %>
		        	<div class="alert alert-danger alert-dismissable">
			          <p><i class="fa fa-info-circle"></i>Alert :Some or all of the quantity for your event selected is not in stock.</p>
								<p>You can:
									<ul>
										<li>Reduce the number of tickets requested </li>
										<li>Contact KSG on <a href="mailto:info@kingdomsg.com?subject=feedback">info@kingdomsg.com</a> to request a waitlist of these tickets.</li>
									</ul>
								</p>
			        </div>
		        <% end %>
			</div>


    	</div>
    </div>
    <form role="form" id="payment-form" method="POST" action="/make_payment/">
	    <div class="row">
			<div class="exclusive-reprensentatio-inner accommodation-main-inner4">

		        <div class="col-sm-12 col-md-10 col-md-offset-1">
		        	<% if not @is_pro_complete %>
		        		<input type="hidden" name="is_user_update" value="true">
						<div class="alert alert-info alert-dismissable">
				          <i class="fa fa-info-circle"></i>
						   Note: Your profile is imcomplete. we need more details about you ,to process your order
				        </div>

						<h3 class="pull-left" style="padding-left:10px;">Your Information</h3>
						<div class="col-xs-12 pad-none">
							<div class="form-group">
					          <!-- <label for="first_name">First Name</label> -->
					          <input type="text" class="form-control" id="first_name" name="first_name" value="<%= @current_user.first_name%>" required="true" placeholder="First Name">
					          <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
					        </div>

							<div class="form-group">
						        <!-- <label for="middle_name">Middle Name</label> -->
						        <input type="text" class="form-control" id="middle_name" name="middle_name" value="<%= @current_user.middle_name %>"  placeholder="Middle Name">
						      </div>

					        <div class="form-group">
					          <!-- <label for="last_name">Last Name</label> -->
					          <input type="text" class="form-control" id="last_name" name="last_name" value="<%= @current_user.last_name %>" required="true" placeholder="Last Name">
					          <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
					        </div>

					        <div class="form-group">
					          <!-- <label for="email">Email address</label> -->
					          <input type="hidden" class="form-control" id="email"  name="email" value="<%= @current_user.email%>" required="true">

					        </div>

					      <div class="form-group">
					        <!-- <label for="phone">Contact</label> -->
					        <input type="text" class="form-control" id="phone" name="phone" value="<%= @current_user.phone %>" required="true" placeholder="Phone">
					      </div>


							<div class="form-group">
					        <!-- <label for="address">Address</label> -->
									<textarea class="form-control" name="address" id="address" rows="5" cols="80" placeholder="Address"><%= @current_user.address %></textarea>

					        </div>

								<div class="form-group">
					        <!-- <label for="city">City</label> -->
					        <input type="text" class="form-control" id="city" name="city" value="<%= @current_user.city %>" required="true" placeholder="City">
					      </div>

						  <div class="form-group">
					        <!-- <label for="state">State</label> -->
					        <input type="text" class="form-control" id="state" name="state" value="<%= @current_user.state %>"  placeholder="State">
					      </div>

						  <div class="form-group">
					        <!-- <label for="post_code">Pincode</label> -->
					        <input type="text" class="form-control" id="post_code" name="post_code" value="<%= @current_user.post_code %>" placeholder="Postcode">
					      </div>

						  <div class="form-group">
							<select class="custom-select form-control" name="country">
								<option value="">Choose</option>
								<% Country.all.each do |c| %>

									<option value="<%= c.name %>" <% if @current_user.country == c.name %>selected=""<% end %>><%= c.name %></option>
								<%end%>
							</select>
					      </div>
						</div>
					<% else %>
						<h3 class="pull-left" style="padding-left:10px;">Your Information</h3>
						<div class="col-xs-12 pad-none">
							<table class="table table-hover">
							    <thead>
							      <tr>
							        <th>Name</th>
							        <th>Email</th>
							        <th>Phone</th>
							        <th>Address</th>
							        <th>Country</th>
							      </tr>
							    </thead>
							    <tbody>
							      <tr>
							        <td><%= @current_user.first_name %>  <%= @current_user.last_name %></td>
							        <td><%= @current_user.email %></td>
									<td><%= @current_user.phone %></td>
									<td><%= @current_user.address %></td>
									<td><%= @current_user.country %></td>
							      </tr>
							    </tbody>
							</table>
						</div>
					<% end %>
		        </div>
		    </div>
	    </div>

	    <% if not @cart_data.blank? %>
	    	<div class="row">
				<div class="exclusive-reprensentatio-inner accommodation-main-inner4">


		        <div class="col-sm-12 col-md-10 col-md-offset-1">

					<h3 class="pull-left" style="padding-left:10px;">Booking Information</h3>
					<div class="col-xs-12 pad-none">
						<table class="table table-hover">
						    <thead>
						      <tr>
						        <th>Item</th>
						        <th>Name</th>
						        <th>Date</th>
						        <th>Quantity</th>
						        <th>Rate</th>
						        <th>Total</th>
						      </tr>
						    </thead>
						    <tbody>
						    	<% @cart_data.each do |i| %>
							      <tr <% if i['is_exceed'] %>style="background-color: #f2dede;" <% end %>>
							        <td><%= i['item_type'] %></td>
									<td><%= i['name'] %></td>
									<td><%= i['event_date'] %></td>
									<td><%= i['quantity'] %></td>
									<td>AUD <%= i['amount'] %></td>
									<td>AUD <%= i['row_total'] %></td>
							      </tr>
						      <% end %>
						    </tbody>
						</table>
						<div style="text-align: right;">
							<% if @freight %>
								<h3 style="font-size: 22px;font-weight: normal;">freight : AUD <span id="freight_amount">100</span></h3>
							<% end %>
							<h3 style="font-size: 22px;font-weight: normal;">cc : AUD <span id="cc_amount"><%= @cc_amount %></span></h3>
							<h3 >Total : AUD <%= @total %></h3>
						</div>
					</div>



		        </div>
		    	</div>
		    </div>
	    <% end %>

	    <% if not @card_data.blank? %>
		    <div class="row">
				<div class="exclusive-reprensentatio-inner accommodation-main-inner4">

			        <div class="col-sm-12 col-md-10 col-md-offset-1">

						<h3 class="pull-left" style="padding-left:10px;">Card Details</h3>
						<div class="col-xs-12 pad-none">
							<table class="table table-hover">
							    <thead>
							      <tr>
							        <th>Card Type</th>
							        <th>Card Number</th>
							        <th>Expire Date</th>
							        <th>CVC Code</th>
							      </tr>
							    </thead>
							    <tbody>
							      <tr>
							        <td><%= @card_data['cardtype'].capitalize %></td>
							        <td><%= @card_data['cardNumber'] %></td>
									<td><%= @card_data['cardExpiry'] %></td>
									<td><%= @card_data['cardCVC'] %></td>
							      </tr>
							    </tbody>
							</table>
						</div>

			        </div>
			    </div>
		    </div>
		<% end %>

		<div class="row">
			<div class="exclusive-reprensentatio-inner accommodation-main-inner4">

		        <div class="col-sm-12 col-md-10 col-md-offset-1" style="text-align:right;">
		        	<div class="col-xs-12 pad-none">
		        		<div style="text-align: left;">
							<input type="checkbox" name="terms" value="check" id="agree" /> I agree to the <a target="_blank" href="http://dev2.infiny.in:3333/assets/Terms_and_Conditions_of_Sale_KSG_LEGAL_POLICY_v3.pdf">Terms and Conditions and Privacy Policy</a>
						    </br>
							<label id="terms-error" class="error" for="terms" style="display:none"></label>
						</div>
						</br>
						<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
						<% if not @card_data.blank? %>
							<input type="hidden" name="from_card" value="true">
							<input type="hidden" name="cardNumber" value="<%= @card_data['cardNumber'] %>">
							<input type="hidden" name="cardExpiry" value="<%= @card_data['cardExpiry'] %>">
							<input type="hidden" name="cardCVC" value="<%= @card_data['cardCVC'] %>">
							<input type="hidden" name="cardtype" value="<%= @card_data['cardtype'] %>">
						<% end %>
						<a class="subscribe-submit" href="/cart" style="padding: 10px 15px !important; width: auto !important; margin: 9px 10px 10px 0px !important; font-size: 14px;">
							Edit
						</a>
						<button type="button"  <% if @is_exceed %>class="btn subscribe-submit disabled" href="javascript:void(0)" <%else%>id="checkout_btn" class="subscribe-submit" <% end %>style="padding: 10px 15px !important; width: 100PX !important; margin: 9px 0px 10px 0px !important; font-size: 14px;box-shadow: 0 5px 0 0 #a1790c;">
							Confirm
						</button>


		        	</div>
		        </div>
		    </div>
	    </div>
    </form>
</div>
</div>
</section>
<style media="screen">
	.table-hover th{
		background-color: #F5BA13;
		font-family: "proxima_novaregular";
		text-align: center;
		text-transform: uppercase;
    vertical-align: middle;
	}

	.continue_shop:hover{
		background-color: white !important;
		color:  black !important;
	}
</style>
<%= render 'layouts/footer'%>
