<%= render 'layouts/header'%>
<section class="banner-main accomodation-banner" style="background: rgba(0, 0, 0, 0) url('/assets/images/star.png') no-repeat scroll center top / cover;">
	<div class="container">
	</div>
	<div class="gold-cost-right" >
		<img src="/assets/images/gold-cost-img.png" alt="">
	</div>
</section>
<section class="accommodation-main-outer4" style="background: none;">
  <div class="container">
    <div class="row">
		<div class="exclusive-reprensentatio-inner accommodation-main-inner4">
			<h2 class="fadeInUp wow" data-wow-duration="2s" data-wow-delay="0s">My Transaction Details</h2>

	        <div class="col-sm-12 col-md-10 col-md-offset-1">



						<h3 class="pull-left" style="padding-left:10px;"><% if @my_transaction_detail.payment_id == nil%>Offline Transaction<%else%>PayPal Transaction<%end%></h3>
						<div class="col-xs-12 pad-none">
							<table class="table table-hover">
							    <thead>
							      <tr>
							        <th>Name</th>
							        <th>Date</th>
							        <th>Quantity</th>
							        <th>Amount</th>
							        <th>Total</th>

							      </tr>
							    </thead>
							    <tbody>

								      <tr>
								        <td><%engh%></td>
    										<td><%= %></td>
    										<td><%= %></td>
    										<td>AUD <%= %></td>
    										<td>AUD <%= %></td>

								      </tr>

							    </tbody>
							</table>

						</div>


	        </div>
    	</div>
    </div>


</div>
</section>
<%= render 'layouts/footer'%>
